<% cache_if_caching_fragments("frontpage-research-papers-#{@locale}", expires_in: 1.hour) do %>
  <%
    begin
      uri = 'https://research.mysociety.org/embed/foi/limit:10/format:json/'
      response = quietly_try_to_open(uri, 5)

       @research_articles =
        if response.empty?
          []
        else
          JSON.parse(response).
            with_indifferent_access[:items].
            map { |item| item.slice(:title, :desc, :url, :thumbnail) }
        end
    end
  %>

  <% if @research_articles.any? %>
    <div class="homepage-article-section" id="homepage-article">
      <div class="row homepage-article-section__ar-contet">
        <div class="ar-content__headings ">
          <h2><%= _('Our Freedom of Information Research') %></h2>
        </div>

        <div class="ar-content__article-grid col-2-grid">
          <% @research_articles.sample(6).each do |article| %>
            <div class="article-grid__item">
            <%= image_tag article[:thumbnail], alt: _('Cover for: {{article_title}}', article_title: article[:title]), class: 'item-content__img', loading: 'lazy' %>

              <div class="article-grid__item-content">
              <h3 class="item-content__heading">
                <%= article[:title] %>
              </h3>

              <p>
                <%= article[:desc] %>
              </p>

              <%= link_to _('Read article'), article[:url] %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="cta-button-wrapper">
          <a class="button" href="<%= donation_url('how-much' => 10, utm_content: 'homepage donate 10', utm_campaign: 'wdtk-homepage-research-papers') %>">Donate £10</a>
          <span>to support our research or <a href="https://research.mysociety.org/section/foi">browse more</a></span>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
