
</div> <!-- Close #general_frontpage -->
</div> <!-- Close #content -->
</div> <!-- Close #wrapper -->
<div class="homepage-hero">
  <div class="row">
    <div class="hero__intro">
      <h1 class="intro__title"><%= _("Get answers from the government and public sector") %></h1>
      <p class="intro__description"><%= _("Make a request for information to a UK public authority: by law, they have to respond") %></p>
      <p class="intro__browse"><%= _("Browse {{number_of_requests}} requests to {{number_of_authorities}} authorities",
        :number_of_requests => number_with_delimiter(InfoRequest.visible.count),
        :number_of_authorities => number_with_delimiter(PublicBody.visible.count)) %></p>
    </div>
    <div class="hero__new-request">
      <div class="new-request__content">
        <h2 class="new-request__title"><%= _("Want to know something?") %></h2>
        <p class="new-request__description"><%= _("Start your own request") %></p>
        <a class="link_button_green" href="<%= select_authority_path %>"><%= _("Make a request &raquo;") %></a>
      </div>
    </div>
  </div>
  <div class="hero__learn-more">
    <div class="row">
      <div class="learn-more__content">
        <a href="#learn-more"><%= _("Learn more") %></a>
      </div>
    </div>
  </div>
</div>
<div id="wrapper"> <!-- Reopen #wrapper -->
<div id="content"> <!-- Reopen #content -->
<div id="general_frontpage"> <!-- Reopen #general_frontpage -->
