<%
    @research_videos = [
      { title: 'Reforming Freedom of Information: mySociety policy paper launch event',
        id: 'AbXowwJDn3M' },
      { title: 'The FOI Clearing House: an openDemocracy investigation into FOI at the heart of government',
        id: 'wXbhBHfeOzk' },
      { title: 'Workshop: What can you do with FOI?',
        id: 'meaLp7p2Yok' },
      { title: 'A change in the law for school starters in Scotland',
        id: 'u8wM2wJ7N4o' },
      { title: 'Source & manage Freedom of Information data for impactful investigations & campaigns with Alaveteli',
        id: 'n7CUaEdbRM0' },
      { title: 'How a crowdsourced FOI campaign improved EU transparency',
        id: 'g46SsdTahaQ' },
      { title: 'Regulating Access to Information',
        id: 'aDfh0IH4K3U' },
      { title: 'Civic Tech Surgery: Accessing quality information',
        id: 'fVrAYctN7sY' },
      { title: 'Using Freedom of Information Data for Campaigns and Visualisations',
        id: 'sDcUrCaiym8' },
      { title: 'What are clarifications in FOI?',
        id: 'AKxhDmrVcd8' },
      { title: "What can you do when your FOI request comes back as 'information not held'?",
        id: 'IeLQ0REsTgI' },
      { title: "What to do if you don't want to put your own name to an FOI request",
        id: 'UtTv7si0Rbw' },
      { title: 'Absolute exemptions in FOI',
        id: '_Xr8LI5YNsM' },
      { title: 'What does a best case scenario FOI request look like?',
        id: '6trJ5mzmVGk' },
      { title: 'What are Public Interest tests in FOI?',
        id: '9MkJz1-qRwM' },
      { title: 'What if you get no reply to your FOI request?',
        id: 'IsmqkJaALF4' },
      { title: 'What happens after an Internal Review in FOI?',
        id: 'TzxCiF0jg60' },
      { title: 'Multiple repeated FOI requests to the same authority',
        id: 'VE0s5-sukjA' },
      { title: 'Examples of how it pays to be clear when wording an FOI request',
        id: '_9qvVbEHJTI' },
      { title: 'Confused by an FOI exemption?',
        id: 'bh1wMd5Olv0' },
      { title: 'Not sure exactly what you need to ask for?',
        id: 'doJV94Gf7vs' },
      { title: 'What is an FOI internal review?',
        id: 'eNXqTXkdQMw' },
      { title: 'When you should withdraw your FOI request',
        id: 'xcu_mQF4WTk' },
      { title: 'Getting the most from FOI',
        id: 'gw8hvek3qSg' },
      { title: 'Workshop: How to use FOI in the UK',
        id: 'HEhxF3BjnCE' },
      { title: 'TICTeC Show & Tell - Right to Know across Europe: impacts and lessons learned',
        id: 'Mfy0N50s8dU' },
      { title: 'Lost in Europe: deploying the Alaveteli network on a cross-border investigation',
        id: 'HWBjPOfJ6_M' },
      { title: 'Watch this space (and pay for it): the misuse of public resources in an election campaign',
        id: 'AWEyG7VlmCw' },
      { title: 'Running an Access to Information platform in France: obstacles and success stories',
        id: 'QBr0GW4vJ3s' },
      { title: 'Being specific in your FOI request wording',
        id: 'Jv-JTfdmQwc' },
      { title: 'Timeframes in FOI requests',
        id: 'vGTcaTJWOtc' },
      { title: 'Tips on formatting FOI requests to get the best results, from Privacy International',
        id: 'PtHg2u4sDOs' },
      { title: 'How to get an FOI story into the press',
        id: 'n9fw_RLdg3s' },
      { title: 'Climate Emergency UK on press pitches: summary',
        id: 'FGlrBRzqECc' },
      { title: 'What makes an editor say “yes”?',
        id: 'G-PrUrPa9C0' },
      { title: 'Telling Stories with FOI data',
        id: 'SySoEWuZBWM' },
      { title: 'Creating datasets from FOI data',
        id: 'lar5OpiJsDk' },
      { title: 'Data Visualisation Show and Tell',
        id: 'aKBoi-Qy9sE' }
    ]
%>

<div class="homepage-video-section" id="homepage-video">
  <div class="row homepage-video-section__vs-content">
    <div class="vs-content__headings ">
      <h2><%= _('Our videos about Freedom of Information') %></h2>
    </div>

    <div class="vs-content__video-grid col-3-grid">
      <% @research_videos.sample(3).each do |article| %>
        <div class="video-grid__item">
          <img class="item-content__img" src="https://img.youtube.com/vi/<%= article[:id] %>/hqdefault.jpg" alt="<%= article[:title] %>" loading="lazy">

          <div class="video-grid__item-content">
            <h3 class="item-content__heading">
              <%= article[:title] %>
            </h3>

            <a class="external-link link-with-icon youtube-icon" href="https://www.youtube.com/watch?v=<%= article[:id] %>" target="_blank">Watch on YouTube</a>
          </div>
        </div>
      <% end %>
    </div>

    <div class="cta-button-wrapper">
      <a class="button" href="<%= donation_url(utm_content: 'homepage donate', utm_campaign: 'wdtk-homepage-videos') %>">Make a donation</a>
      <span>to support our research or <a href="https://www.youtube.com/mysociety">watch more</a></span>
    </div>
  </div>
</div>
