<% 
    @research_videos = [
    { title: 'Reforming Freedom of Information: mySociety policy paper launch event',
        url: 'https://www.youtube.com/watch?v=AbXowwJDn3M',
        img: 'reforming-freedom-of-information.jpeg',
        alt: 'Session screenshot: Reforming Freedom of Information'},
    { title: 'The FOI Clearing House: an openDemocracy investigation into FOI at the heart of government',
        url: 'https://www.youtube.com/watch?v=wXbhBHfeOzk',
        img: 'the-FOI-clearing-house.jpeg',
        alt: 'Session screenshot: The FOI Clearing House'},
    { title: 'Workshop: What can you do with FOI?',
        url: 'https://www.youtube.com/watch?v=meaLp7p2Yok',
        img: 'what-can-you-do-with-FOI.jpeg',
        alt: 'Session screenshot: Workshop: What can you do with FOI?'},
    ]
%>

<div class="homepage-video-section" id="homepage-video">
    <div class="row homepage-video-section__vs-contet">
        <div class="vs-content__headings ">
            <h2><%= _("Recent videos") %></h2>
        </div>
        <div class="vs-content__video-grid col-3-grid">
            <% @research_videos.sample(3).each do |article| %>
                <div class="video-grid__item">
                <img class="item-content__img" src="<%= image_path(article[:img]) %>" alt="<%= article[:alt] %>" loading="lazy">
                    <div class="video-grid__item-content">
                        <h3 class="item-content__heading"><%= article[:title] %></h3>
                        <a class="external-link link-with-icon youtube-icon" href="<%= article[:url] %>" target="_blank">Watch on YouTube</a>
                    </div>
                </div>
            <% end %>
        </div>
        <div style="text-align: center;">
            <a class="button" href="https://www.youtube.com/mysociety">Browse more</a>
        </div>
    </div>
</div>
