<div class="footer" id="footer">
  <div class="row">
    <div class="footer__about">
      <h2><%= site_name %></h2>
      <p><%= site_name %> is a <%= link_to 'mySociety', "https://www.mysociety.org" %> project, <%= link_to 'run by Volunteers', help_credits_path(:anchor => 'helpus') %> and powered by <%= link_to 'Alaveteli',  help_alaveteli_path %></p>
      <ul class="about__contact-links">
        <li>
          <%= link_to _('Contact us'), help_contact_path %>
        </li>
        <li>
          <%= link_to _('Help'), help_path %>
        </li>
        <li>
          <%= link_to _('Privacy and cookies'), help_privacy_path %>
        </li>
        <li>
          <%= link_to _('API'), help_api_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__final">
    <div class="row">
      <div class="final__dedication">
        <p>Dedicated to <%= link_to 'Chris Lightfoot', "http://mk.ucant.org/archives/000129.html" %>.</p>
      </div>
      <div class="final__social-links">
        <ul>
          <% unless AlaveteliConfiguration::twitter_username.blank? %>
          <li>
            <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>" class="social-link social-link--twitter" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::TWITTER_EXIT, :label => "Footer link")%>">@<%= AlaveteliConfiguration::twitter_username %></a>
          </li>
          <% end %>
          <% unless AlaveteliConfiguration::facebook_username.blank? %>
          <li>
            <a href="https://facebook.com/<%= AlaveteliConfiguration::facebook_username %>" class="social-link social-link--facebook" onclick="<%= track_analytics_event(AnalyticsEvent::Category::OUTBOUND, AnalyticsEvent::Action::FACEBOOK_EXIT, :label => "Footer link")%>">/<%= AlaveteliConfiguration::facebook_username %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
