<% content_for :javascript_head do %>
  <%= javascript_importmap_tags("read_container", importmap: Rails.application.theme_importmap) %>
  <%= javascript_importmap_tags("modal", importmap: Rails.application.theme_importmap) %>
<% end %>

<div class="welcome-rules-page">
  <div class="hero-section">
    <h1 class="hero-big-title">Welcome to
      <%= image_tag('wdtk-logo-black.svg', alt: 'WhatDoTheyKnow', class: 'hero-logo') %>
    </h1>
    <div class="hero-subtitle">
      <p>WhatDoTheyKnow is a free service from the charity <a href="https://www.mysociety.org/">mySociety</a>, making it as simple as possible to ask public authorities for information.</p>
    </div>
    <p>Much of the admin and user support for WhatDoTheyKnow is handled by dedicated volunteers, who are contributing their time and knowledge because they believe in the value of transparency.</p>
    <p>The following rules are based on our experience of running the site since 2008. These rules help you, and us, keep on the right side of the law, and make a better environment for everyone.</p>
    <p>By reading and following these simple rules, you help us spend less time on fixing problems, and more time on improving WhatDoTheyKnow. And that's great for everyone.</p>
  </div>

  <div class="read-container js-read-container">
    <p class="read-container__announcement"><strong>Please read WhatDoTheyKnow rules before continue:</strong></p>
    <ol>
      <li>Only use WhatDoTheyKnow to <strong class="gradient-text">request specific information</strong>. Don't use it to send general messages to public authorities or for personal messages.</li>
      <li><strong class="gradient-text">Don't include things that could be seen as harmful or untrue in your requests and comments</strong>. Don't make allegations.</li>
      <li><strong class="gradient-text">Don't post anything that is against the law, threatening, abusive, or offensive</strong>. Any such content will be <%= link_to 'removed', help_removing_information_path %>.</li>
      <li><strong class="gradient-text">Only request information that anyone could expect to get</strong>. If you have a special right to certain information, like your personal data, contact the public body directly. The same goes for personal information about your family 
      members. Requests for your own data are called Subject Access Requests. The Information Commissioner (ICO) has 
      <a href="https://ico.org.uk/for-the-public/getting-copies-of-your-information-subject-access-request/" title="Guidance from the Information Commissioner on your right of access">
      advice on making these requests</a>.</li>
      <li>Keep your messages short and focused on the information you want. Follow our <%= link_to help_requesting_path(anchor: 'responsible') do %>tips for making good requests.<% end %></li>
      <li>Don't pretend to be someone else.</li>
      <li>Don't use language that might offend people in your requests and comments.</li>
      <li>No spamming.</li>
      <li>Write requests using both upper and lowercase letters.</li>
      <li>Don't make vexatious requests that have no real purpose or are meant to cause problems for a public body. The ICO has 
      <a href="https://ico.org.uk/for-organisations/foi/freedom-of-information-and-environmental-information-regulations/section-14-dealing-with-vexatious-requests/" title="Guidance from the Information Commissioner on vexatious requests">
      guidance on this type of request</a>.</li>
      <li><strong class="gradient-text">Don't use WhatDoTheyKnow to ask for other people's personal information</strong>. Don't include this type of information in requests, comments or follow-ups, unless it's fair to do so.</li>
      <li>Don't try to get around the site limits or actions of site administrators. For example, don't make new accounts to avoid a ban or limits on how many requests you can make. Don't repost things you know moderators have removed.</li>
      <li>Commercial and for-profit use requires a <%= link_to 'WhatDoTheyKnow Pro', account_request_index_path %> subscription.</li>
      <li><strong class="gradient-text">Don’t ask for email addresses in your requests</strong>. Email addresses are automatically redacted, and you will not be able to access them if they are provided in the response.</li>
    </ol>
  </div>

  <div class="card card-alert">
    <p class="card-header text-with-icon">
      <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 16c2.12 0 4.16-.84 5.66-2.34 1.5-1.5 2.34-3.54 2.34-5.66 0-2.12-.84-4.16-2.34-5.66C12.16.84 10.12 0 8 0 5.88 0 3.84.84 2.34 2.34.84 3.84 0 5.88 0 8c0 2.12.84 4.16 2.34 5.66C3.84 15.16 5.88 16 8 16zM9 5c0 .27-.1.52-.3.7-.18.2-.43.3-.7.3-.26 0-.52-.1-.7-.3C7.1 5.52 7 5.27 7 5c0-.27.1-.52.3-.7.18-.2.44-.3.7-.3.27 0 .52.1.7.3.2.18.3.43.3.7zM7 7c-.2 0-.4.08-.53.22-.14.14-.22.33-.22.53 0 .2.08.39.22.53.13.14.33.22.53.22h.25v2H6.25c-.2 0-.4.08-.53.22-.14.14-.22.33-.22.53 0 .2.08.39.22.53.13.14.33.22.53.22h3.5c.2 0 .39-.08.53-.22.14-.14.22-.33.22-.53 0-.2-.08-.39-.22-.53-.14-.14-.33-.22-.53-.22H8.75V7H7z" fill="currentColor"></path></svg>
      If you break these rules, you could be banned from the site
    </p>

    <p>We may also remove your requests or annotations. We'll usually contact you first to give advice on how to use the service better.</p>
    <p>If you use threats or abusive language, mySociety staff and volunteers will stop responding to you. You'll also be banned from using the site.</p>
  </div>

  <!-- TODO: call to action, which takes the user onwards to the location stored in the PostRedirect -->
  <a class="link_button_green js-read-container-continue-button" href="">Continue to WhatDoTheyKnow</a>
</div>
