<h2><%= _('More about this authority')%></h2>

<%= link_to _("Ask us to update FOI email"), new_change_request_body_path(:body => public_body.url_name) %><br>

<% if !public_body.calculated_home_page.nil? %>
  <%= link_to _('Home page of authority'), public_body.calculated_home_page %><br>
<% end %>

<% if !public_body.publication_scheme.blank? %>
  <%= link_to _('Publication scheme'), public_body.publication_scheme %><br>
<% end %>

<% unless public_body.disclosure_log.blank? %>
  <%= link_to _('Disclosure log'), public_body.disclosure_log %><br>
<% end %>

<% ons_statistics_tags = [] %>
<% if public_body.has_tag?('statistical_geography') %>
  <% ons_statistics_tags += public_body.get_tag_values('statistical_geography') %>
<% end %>
<% if public_body.has_tag?('gss') %>
  <% ons_statistics_tags += public_body.get_tag_values('gss') %>
<% end %>

<% unless ons_statistics_tags.empty? %>
  <% ons_statistics_tags.each do |tag_value| %>
    <%= link_to _('Explore local statistics'),
          "https://www.ons.gov.uk/explore-local-statistics/areas/#{ ERB::Util.url_encode(tag_value) }" %><br>
  <% end %>
<% end %>

<% twfy_utm_params = { utm_source: 'whatdotheyknow.com',
                       utm_medium: 'link',
                       utm_campaign: 'body_page_more_info' } %>
<% twfy_url = %Q[https://www.theyworkforyou.com/search/?q="#{public_body.name}"] %>

<%= link_to _('Mentions in Parliament'), add_query_params_to_url(twfy_url, twfy_utm_params) %><br>

<% if public_body.has_tag?('charity') %>
  <% public_body.get_tag_values('charity').each do |tag_value| %>
    <% if tag_value.match(/^SC/) %>
      <%= link_to _('Charity registration'),
                    "https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=#{ tag_value }" %><br>
    <% elsif tag_value.match(/^NIC/) %>
      <%= link_to _('Charity registration'),
                    "https://www.charitycommissionni.org.uk/charity-details/?regId=#{ tag_value.gsub(/^NIC/, '') }" %><br>
    <% elsif tag_value.match(/^exempt/) %>
      <%= link_to _("Exempt charity - <i>what's that?</i>"),
                    "https://www.gov.uk/government/publications/exempt-charities-cc23/exempt-charities" %><br>
    <% else %>
      <%= link_to _('Charity registration'),
                    "https://register-of-charities.charitycommission.gov.uk/charity-search/-/results/page/1/delta/20/keywords/#{ tag_value }" %><br>
    <% end %>
  <% end %>
<% end %>

<% if public_body.has_tag?('ch') %>
  <% public_body.get_tag_values('ch').each do |tag_value| %>
      <%= link_to _('Company registration'),
                    "https://find-and-update.company-information.service.gov.uk/company/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('dpr') %>
  <% public_body.get_tag_values('dpr').each do |tag_value| %>
      <%= link_to _('Data Protection registration'),
                    "https://ico.org.uk/ESDWebPages/Entry/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('society') %>
  <% public_body.get_tag_values('society').each do |tag_value| %>
      <%= link_to _('Mutual registration'),
                    "https://mutuals.fca.org.uk/Search/Society/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('urn') %>
  <% public_body.get_tag_values('urn').each do |tag_value| %>
      <%= link_to _('Establishment information'),
                    "http://get-information-schools.service.gov.uk/Establishments/Establishment/Details/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('la') %>
  <% public_body.get_tag_values('la').each do |tag_value| %>
      <%= link_to _('Local authority'),
                    "https://www.whatdotheyknow.com/body/list/lea:#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('la') %>
  <% public_body.get_tag_values('la').each do |tag_value| %>
      <%= link_to _('Other schools in the same local authority area'),
                    "https://www.whatdotheyknow.com/body/list/la:#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('ofs') %>
  <% public_body.get_tag_values('ofs').each do |tag_value| %>
      <%= link_to _('Provider register'),
                    "https://www.officeforstudents.org.uk/advice-and-guidance/the-register/the-ofs-register/#/provider/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('ucas') %>
  <% public_body.get_tag_values('ucas').each do |tag_value| %>
      <%= link_to _('UCAS provider'),
                    "https://www.ucas.com/explore/search/providers?query=#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('matuid') %>
  <% public_body.get_tag_values('matuid').each do |tag_value| %>
      <%= link_to _('Establishment group information'),
                    "https://get-information-schools.service.gov.uk/Groups/Group/Details/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('spuid') %>
  <% public_body.get_tag_values('spuid').each do |tag_value| %>
      <%= link_to _('Establishment group information (sponsor)'),
                    "https://get-information-schools.service.gov.uk/Groups/Group/Details/#{ tag_value }" %><br>
  <% end %>
<% end %>
<% if public_body.has_tag?('ror') %>
  <% public_body.get_tag_values('ror').each do |tag_value| %>
      <%= link_to _('Research Organization Registry'),
                    "https://ror.org/#{ tag_value }" %><br>
  <% end %>
<% end %>
<% if public_body.has_tag?('lon') %>
  <% public_body.get_tag_values('lon').each do |tag_value| %>
      <%= link_to _('London Stock Exchange'),
                    "https://www.londonstockexchange.com/stock/#{ tag_value }/company-page" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('su_parent') %>
  <% public_body.get_tag_values('su_parent').each do |tag_value| %>
    <%= link_to _('Parent institution'),
                show_public_body_path(url_name: tag_value) %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('lei') %>
  <% public_body.get_tag_values('lei').each do |tag_value| %>
      <%= link_to _('Legal Entity Identifier'),
                    "http://openleis.com/legal_entities/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('wikidata') %>
  <% public_body.get_tag_values('wikidata').each do |tag_value| %>
      <%= link_to _('Wikidata page'),
                    "https://www.wikidata.org/wiki/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('lcnaf') %>
  <% public_body.get_tag_values('lcnaf').each do |tag_value| %>
      <%= link_to _('Library of Congress Authority ID'),
                    "http://id.loc.gov/authorities/names/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('mapit') %>
  <% public_body.get_tag_values('mapit').each do |tag_value| %>
    <%= link_to _('Area covered'), "https://mapit.mysociety.org/area/#{tag_value}.html" %>

    <small>
      [<%= link_to _('others in this area'), list_public_bodies_by_tag_path("mapit:#{tag_value}") %>]
    </small>

    <br>
  <% end %>
<% end %>
