<h2><%= _('More about this authority')%></h2>

<% if !public_body.calculated_home_page.nil? %>
  <%= link_to _('Home page of authority'), public_body.calculated_home_page %><br>
<% end %>

<% if !public_body.publication_scheme.blank? %>
  <%= link_to _('Publication scheme'), public_body.publication_scheme %><br>
<% end %>

<% unless public_body.disclosure_log.blank? %>
  <%= link_to _('Disclosure log'), public_body.disclosure_log %><br>
<% end %>

<% if public_body.has_tag?('charity') %>
  <% public_body.get_tag_values('charity').each do |tag_value| %>
    <% if tag_value.match(/^SC/) %>
      <%= link_to _('Charity registration'),
                    "https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=#{ tag_value }" %><br>
    <% elsif tag_value.match(/^NIC/) %>
      <%= link_to _('Charity registration'),
                    "https://www.charitycommissionni.org.uk/charity-search/?regId=#{ tag_value.gsub(/^NIC/, '') }" %><br>
    <% else %>
      <%= link_to _('Charity registration'),
                    "https://register-of-charities.charitycommission.gov.uk/charity-search/-/results/page/1/delta/20/keywords/#{ tag_value }" %><br>
    <% end %>
  <% end %>
<% end %>

<% if public_body.has_tag?('ch') %>
  <% public_body.get_tag_values('ch').each do |tag_value| %>
      <%= link_to _('Company registration'),
                    "https://find-and-update.company-information.service.gov.uk/company/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('dpr') %>
  <% public_body.get_tag_values('dpr').each do |tag_value| %>
      <%= link_to _('Data Protection registration'),
                    "https://ico.org.uk/ESDWebPages/Entry/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('urn') %>
  <% public_body.get_tag_values('urn').each do |tag_value| %>
      <%= link_to _('Establishment information'),
                    "http://get-information-schools.service.gov.uk/Establishments/Establishment/Details/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('ofs') %>
  <% public_body.get_tag_values('ofs').each do |tag_value| %>
      <%= link_to _('Provider register'),
                    "https://www.officeforstudents.org.uk/advice-and-guidance/the-register/the-ofs-register/#/provider/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('matuid') %>
  <% public_body.get_tag_values('matuid').each do |tag_value| %>
      <%= link_to _('Establishment group information'),
                    "https://get-information-schools.service.gov.uk/Groups/Group/Details/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('spuid') %>
  <% public_body.get_tag_values('spuid').each do |tag_value| %>
      <%= link_to _('Establishment group information (sponsor)'),
                    "https://get-information-schools.service.gov.uk/Groups/Group/Details/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('lei') %>
  <% public_body.get_tag_values('lei').each do |tag_value| %>
      <%= link_to _('Legal Entity Identifier'),
                    "http://openleis.com/legal_entities/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('wikidata') %>
  <% public_body.get_tag_values('wikidata').each do |tag_value| %>
      <%= link_to _('Wikidata page'),
                    "https://www.wikidata.org/wiki/#{ tag_value }" %><br>
  <% end %>
<% end %>

<% if public_body.has_tag?('mapit') %>
  <% public_body.get_tag_values('mapit').each do |tag_value| %>
    <%= link_to _('Area covered'), "https://mapit.mysociety.org/area/#{tag_value}.html" %>

    <small>
      [<%= link_to _('others in this area'), list_public_bodies_by_tag_path("mapit:#{tag_value}") %>]
    </small>

    <br>
  <% end %>
<% end %>

<%= link_to _('View FOI email address'), view_public_body_email_path(public_body.url_name) %><br>

<%= link_to _("Ask us to update FOI email"), new_change_request_body_path(:body => public_body.url_name) %><br>
