<section id="introduction">
  <h2>
    Introduction
  </h2>

  <p>
    The WhatDoTheyKnow Pro service (“WhatDoTheyKnow Pro”, the “Service”) is
    operated by SocietyWorks Ltd, company no. 5798215, of 483 Green Lanes,
    London, N13 4BS (“we” or “us”).
  </p>

  <p>
    Be sure to include "SocietyWorks Ltd" in the address when writing to us.
  </p>

  <p>
    By using WhatDoTheyKnow Pro or signing up for an account, you’re agreeing to
    these Terms, which form a legally binding agreement. Please read them
    carefully - they define the conditions under which you’re allowed to use
    WhatDoTheyKnow Pro.
  </p>

  <p>
    In order to use WhatDoTheyKnow Pro, you must be at least 18 years old and
    legally able to enter into contracts. If you use WhatDoTheyKnow Pro on
    behalf of a company or organisation you warrant that you have the authority
    to accept these Terms on behalf of that company or organisation.
  </p>

  <p>
    We reserve the right to update and change these Terms from time to time
    without notice and at our sole discretion.
  </p>
</section>

<section id="usage">
  <h2>
    Usage
  </h2>

  <p>
    We reserve the right to block, without warning, usage which violates any
    of our <a href="<%= help_house_rules_path %>">House Rules</a>.
  </p>
</section>

<section id="accounts">
  <h2>
    Accounts
  </h2>

  <p>
    You must provide a valid email address in order to complete the signup
    process. This email address will be used if we need to contact you about
    anything relating to your WhatDoTheyKnow Pro account or usage - please
    ensure you keep your contact information up to date.
  </p>

  <p>
    You’re responsible for all activity that takes place under your account, so
    you must keep your password secure. We cannot and will not be liable for any
    loss or damage from your failure to maintain the security of your account
    and password. You should immediately notify us if you become aware of any
    unauthorised use of your account.
  </p>
</section>

<section id="termination">
  <h2>
    Termination, cancellation and suspension
  </h2>

  <p>
    You can terminate this agreement at any time and for any reason by ceasing
    use of WhatDoTheyKnow Pro and cancelling any subscription you have.
    Subscription cancellations are applied at the end of the current billing
    period. Until that date you will continue to have full access to
    WhatDoTheyKnow Pro.
  </p>

  <p>
    When you cancel your account:
  </p>

  <ul>
    <li>
      You'll lose access to any requests you still have in draft.
    </li>

    <li>
      You won't be able to access WhatDoTheyKnow Pro tools, including the
      dashboard and pro request management.
    </li>

    <li>
      You will still be able to see any requests which are currently private,
      but you won't be able to make new private requests or extend privacy
      durations. These requests will be published when the current privacy
      period ends.
    </li>

    <li>
      You can re-subscribe at any time and full access to these features will be
      restored.
    </li>
  </ul>

  <p>
    We may suspend your access to WhatDoTheyKnow Pro if:
  </p>

  <ul>
    <li>
      You have failed to make any payment due;
    </li>

    <li>
      We reasonably believe you to be in material breach of any term of this
      agreement;
    </li>

    <li>
      We reasonably believe that it is necessary to do so in order to comply
      with any applicable law or the order of a court or other competent
      authority.
    </li>

  </ul>

  <p>
    We also reserve the right to modify or terminate WhatDoTheyKnow Pro for any
    reason, without notice at any time.
  </p>
</section>

<section id="attribution">
  <h2>
    Attribution
  </h2>

  <p>
    If you publish stories or data that rely on FOI requests made in
    WhatDoTheyKnow Pro, please consider making the requests public on
    WhatDoTheyKnow, and linking back to them.
  </p>
</section>

<section id="payment">
  <h2>
    Payment
  </h2>

  <p>
    Our pricing is posted at
    <a href="<%= pro_plans_path%>"><%= pro_plans_url %></a> and is subject
    to change upon 30 days notice from us.
  </p>

  <p>
    Your plan is billed in advance on a monthly basis and is non-refundable. You
    must at all times ensure we are provided with valid credit or debit card
    information and authorise us to deduct the monthly charges against that
    card.
  </p>

  <p>
    If we’re unable to process your payment we’ll try to contact you by email.
    We reserve the right to limit or suspend your account until we can take
    payment.
  </p>
</section>

<section id="support">
  <h2>
    SLA and support
  </h2>

  <p>
    We offer no guarantee as to the availability of WhatDoTheyKnow Pro, and will
    not be liable if WhatDoTheyKnow Pro is unavailable for any reason.
  </p>

  <p>
    If you need to contact us you can do so via our
    <a href="<%= help_contact_path %>">contact page</a>.
  </p>
</section>

<section id="small-print">
  <h2>
    Small print
  </h2>

  <p>
    These Terms are subject to the law of England and Wales. They constitute all
    the terms and conditions agreed upon between you and us and supersede any
    prior agreements, whether written or oral.
  </p>

  <p>
    You expressly understand and agree that to the maximum extent permitted by
    law we exclude all liability and responsibility to you for any loss or
    damage resulting, directly or indirectly, from your use of or inability to
    use WhatDoTheyKnow Pro. In any event, our total liability for all claims
    made about WhatDoTheyKnow Pro in any month will be no more than what you
    paid us for the Service the month before.
  </p>

  <p>
    We shall not be deemed to have waived our right to enforce any of our
    rights under this agreement merely because we have previously failed to
    enforce our rights under this agreement, or permitted you to breach any term
    of this agreement on one or more occasions.
  </p>

  <p>
    If a court, or other competent authority, finds that any term of this
    agreement is illegal or otherwise unenforceable, that term is to be treated
    as if it had been severed from this agreement. Its severance will be treated
    (as far as possible) as having no effect on the remainder of this agreement.
  </p>
</section>

<section id="privacy">
  <h2>
    Privacy
  </h2>

  <p>
    You can read mySociety’s general privacy policy here:
    <a href="https://www.mysociety.org/privacy/?utm_source=whatdotheyknow.com&utm_medium=link">https://www.mysociety.org/privacy/</a>.
  </p>

  <p>
    In summary, we take your privacy seriously. We will use the personal data
    that you provide to us solely for the purpose of administering the service,
    and we will not disclose it to anyone else unless we are obliged to by law.
    We’ll only ever send you emails in relation to your use of WhatDoTheyKnow
    Pro. Whilst we sometimes use cookies and Google Analytics to help us make
    our websites better, you can block this if you want to, and we provide
    information about how to do so.
  </p>

  <p>
    We use Stripe for processing payments. You can read about Stripe’s usage
    terms and privacy policy here: <a
    href="https://stripe.com/gb/privacy">https://stripe.com/gb/privacy</a>.
  </p>

  <p>The legal basis for the processing of your payment information is Contract
    (this is as laid out in  <a href="https://gdpr-info.eu/art-6-gdpr/">6(1)(b)</a>
     – of the GDPR, in force from 25 May 2018). In general, the legal basis for
     processing your personal data on the site is Legitimate Interests
    (<a href="https://gdpr-info.eu/art-6-gdpr/">6(1)(f)</a> of the GDPR). See the
    <a href="<%= help_privacy_path %>">WhatDoTheyKnow privacy policy</a> for
    more information about how we process personal data and your rights.
  </p>
</section>
