<div class="learn-content-container">

  <section>
    <div class="hero-section">
      <h1 class="hero-big-title">
        Everything you need to know to get started with <span class="gradient-text">Freedom of Information</span>
      </h1>

      <p class="hero-subtitle">Freedom of Information <abbr title="Freedom of Information">(FOI)</abbr> gives everyone an incredible power — the power to uncover information from public authorities. </p>
      <p>Making a request isn’t complicated or difficult, but with the information you receive, you can have a huge impact. People have used FOI to show the need for changes, to bring hidden injustices into the open… and even to reveal corruption or malpractice. </p>
      <p>You might use FOI to find out facts within your own local area, or you might obtain stats across the whole of the UK. You could be following your own curiosity, or pursuing a wider societal benefit. Whatever is behind your need to know, FOI is a great tool for bringing information into the open, where everyone can access it.</p>
    </div>

     <div class="card-grid">
       <a class="card" href="<%= learn_understanding_rights_path %>">
        <%= image_tag "learn/learn-illustration-1.png", class: "card-image", alt: "A bright yellow light bulb with a hand-drawn filament on a teal background", loading: "lazy" %>
        <h2 class="card-header">
          <span class="card-number"><span class="number">1</span></span>
          Understanding your rights
        </h2>
         <div class="card-body">
          <p>Learn all about FOI: what to ask for, who to ask, and when to expect answers.</p>
         </div>
       </a>

       <a class="card" href="<%= learn_how_to_make_requests_path %>">
        <%= image_tag "learn/learn-illustration-2.png", class: "card-image", alt: "A pair of blue shoes with yellow trim worn by someone in pink striped pants", loading: "lazy" %>
        <h2 class="card-header">
          <span class="card-number"><span class="number">2</span></span>
          Taking the first steps</h2>
        <div class="card-body">
          <p>We’ll show you how to make your first Freedom of Information (FOI) request.</p>
        </div>
      </a>

      <a class="card" href="<%= learn_effective_requests_path %>">
        <%= image_tag "learn/learn-illustration-3.png", class: "card-image", alt: "A green pencil drawing a curvy line on a pale yellow background", loading: "lazy" %>
        <h2 class="card-header">
          <span class="card-number"><span class="number">3</span></span>
          Writing effective requests
        </h2>
        <div class="card-body">
          <p>A well written request can make things easier for you and the authority.</p>
        </div>
      </a>

      <a class="card" href="<%= learn_privacy_anonymity_path %>">
        <%= image_tag "learn/learn-illustration-4.png", class: "card-image", alt: "A question mark shape in teal and cream tones on a light yellow background", loading: "lazy" %>
        <h2 class="card-header">
          <span class="card-number"><span class="number">4</span></span>
          Privacy and anonymity
        </h2>
        <div class="card-body">
          <p>Concerned about using your real name? Learn about how to protect anonymity.
          </p>
        </div>
      </a>

      <a class="card" href="<%= learn_request_refused_delayed_path %>">
        <%= image_tag "learn/learn-illustration-5.png", class: "card-image", alt: "Two hands with open palms on a teal background, one hand making an ‘OK’ gesture", loading: "lazy" %>
        <h2 class="card-header">
          <span class="card-number"><span class="number">5</span></span>
          Don’t let an unsuccessful request put you off
        </h2>
        <div class="card-body">
          <p>Don’t let an unsuccessful requests put you off. Learn about the right to appeal.</p>
        </div>
      </a>

      <a class="card" href="<%= learn_foi_myths_path %>">
        <%= image_tag "learn/learn-illustration-6.png", class: "card-image", alt: "Colorful arrows in yellow, green, and teal pointing in different directions with a curved red path", loading: "lazy" %>
        <h2 class="card-header">
          <span class="card-number"><span class="number">6</span></span>
          Myths and misconceptions about FOI
        </h2>
        <div class="card-body">
          <p>Don’t believe everything you hear about Freedom of Information! We explode some of the myths</p>
        </div>
      </a>
     </div>
  </section>

  <section id="seminars">
    <div class="section-intro">
      <h2>
        Putting knowledge to use
      </h2>
      <p class="subtitle">Got the basics down? Our more in-depth videos will strengthen your knowledge and give you a more in-depth understanding of what you can do with FOI.
      </p>
    </div>

    <div class="card-grid">
      <!-- First video -->
      <div class="card modal-button card-thumbnail" tabindex="0" role="button" aria-label="Open video: Creating datasets from FOI data">
        <div class="video-thumbnail">
          <svg class="youtube-svg" height="4rem" version="1.1" viewBox="0 0 68 48" width="4rem"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f03"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>
          <img src="https://img.youtube.com/vi/lar5OpiJsDk/maxresdefault.jpg" loading="lazy" role="presentation" aria-hidden="true">
        </div>
      </div>
      <div class="modal-content modal-hidden" aria-hidden="true">
        <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-title-1">
          <div class="modal-header">
            <h3 class="modal-title" id="modal-title-1">Creating datasets from FOI data</h3>
            <button class="modal-close" aria-label="Close">×</button>
          </div>
          <p>Maya Esslemont from the organisation After Exploitation explains how to approach an FOI project to ensure the data you get is as useable as possible;  followed by Kay Achenbach from Open Data Institute who explains the kind of problems found in ‘messy’ data and how to fix them to ensure your findings are valid, meaningful and unbiased.</p>
          <div class="modal-body">
            <div class="video-container">
              <iframe tabindex="0" width="560" height="315" src="https://www.youtube.com/embed/lar5OpiJsDk?si=sDz8RoTe2xTr5ilu&enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <!-- Second video -->
      <div class="card modal-button card-thumbnail" tabindex="0" role="button" aria-label="Open video: Telling stories with FOI data">
        <div class="video-thumbnail">
          <svg class="youtube-svg" height="4rem" version="1.1" viewBox="0 0 68 48" width="4rem"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f03"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>
          <img src="https://img.youtube.com/vi/SySoEWuZBWM/maxresdefault.jpg" loading="lazy" role="presentation" aria-hidden="true">
        </div>
      </div>
      <div class="modal-content modal-hidden" aria-hidden="true">
        <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-title-2">
          <div class="modal-header">
            <h3 class="modal-title" id="modal-title-2">Telling stories with FOI data</h3>
            <button class="modal-close" aria-label="Close">×</button>
          </div>
          <p>
            The second seminar in mySociety’s FOI for Campaigning and Advocacy series.

            We hear from Ilya Siatitsa of Privacy International, Isaac Beevor of Climate Emergency UK and freelance journalist Rosie Taylor about how to get media coverage for the stories you uncover via FOI.

            Our speakers mention sending many FOI requests in bulk: note that this is one of the features available with WhatDoTheyKnow Pro. For collaborative work on bulk FOI requests, see the WhatDoTheyKnow Projects software.
          </p>
          <div class="modal-body">
            <div class="video-container">
              <iframe tabindex="0" width="560" height="315" src="https://www.youtube.com/embed/SySoEWuZBWM?si=N0vg7aP8YL3KPDRE&enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <!-- Third video -->
      <div class="card modal-button card-thumbnail" tabindex="0" role="button" aria-label="Open video: Getting the most from FOI">
        <div class="video-thumbnail">
          <svg class="youtube-svg" height="4rem" version="1.1" viewBox="0 0 68 48" width="4rem"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#f03"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>
          <img src="https://img.youtube.com/vi/gw8hvek3qSg/maxresdefault.jpg" loading="lazy" role="presentation" aria-hidden="true">
        </div>
      </div>
      <div class="modal-content modal-hidden" aria-hidden="true">
        <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-title-3">
          <div class="modal-header">
            <h3 class="modal-title" id="modal-title-3">Getting the most from FOI</h3>
            <button class="modal-close" aria-label="Close">×</button>
          </div>
          <p>A seminar from mySociety, explaining some basic tips and trips for ensuring your FOI requests get full and adequate responses.</p>
          <div class="modal-body">
            <div class="video-container">
              <iframe tabindex="0" width="560" height="315" src="https://www.youtube.com/embed/gw8hvek3qSg?si=z_1nK8G4p_HwXnUk&enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section-intro">
      <h2>Freedom of Information has changed the world</h2>

      <p class="subtitle">Read stories from people and organisations who have used FOI to make a massive difference. 
      </p>
      <p>From uncovering the Post Office scandal to getting the law changed; rewriting government policy or creating more accessible routes for disabled people — in all these people’s stories, information has been the key to making the world a better place.</p>
      <p>So, settle down, have a read and then it’s time to think… what will YOU do with FOI?</p>
    </div>
    <div class="card-grid">
      <a class="card" href="https://www.mysociety.org/2017/08/04/is-your-local-authority-making-life-difficult-for-wheelchair-users/">
        <img class="card-image" role="presentation" aria-hidden="true" src="https://www.mysociety.org/files/2017/08/11283330806_7afcd3d106_k.jpg" alt="" loading="lazy">
        <h2 class="card-header">
         Is your local authority making life difficult for wheelchair users?
       </h2>
        <div class="card-body">
          <p>If you’re in a wheelchair, it can be tricky enough getting around. So it’s particularly disappointing to learn that some taxi firms charge wheelchair passengers extra, and that some drivers refuse to take passengers in wheelchairs at all.</p>
        </div>
      </a>

      <a class="card" href="https://www.mysociety.org/2023/10/16/whatdotheyknow-and-the-post-office-horizon-scandal/">
       <img class="card-image" role="presentation" aria-hidden="true" src="https://www.mysociety.org/files/2023/10/geograph-7562841-by-Mark-Percy-1.jpg" alt="" loading="lazy">
       <h2 class="card-header">WhatDoTheyKnow and the Post Office Horizon scandal</h2>
       <div class="card-body">
         <p>The Post Office Horizon scandal serves as a prime example of how, when official channels have failed, determined investigators can eventually unpick the truth and ensure that justice is served</p>
       </div>
      </a>

      <a class="card" href="https://www.mysociety.org/2021/01/05/a-change-in-the-law-for-school-starters-in-scotland-through-foi/">
        <img class="card-image" role="presentation" aria-hidden="true" src="https://www.mysociety.org/files/2020/12/give-them-space.jpg" alt="" loading="lazy">
        <h2 class="card-header">A change in the law for school starters in Scotland — through FOI</h2>
        <div class="card-body">
          <p>Kids in Scotland can start school at the age of four and a half, if that makes sense for them. The school year begins in August, and any child who turns four from the February before can enter Primary 1.</p>
        </div>
      </a>

      <a class="card" href="https://www.mysociety.org/2020/05/12/using-foi-to-protect-social-housing-and-council-property/">
       <img class="card-image" role="presentation" aria-hidden="true" src="https://www.mysociety.org/files/2020/05/SHDV.jpg" alt="" loading="lazy">
        <h2 class="card-header">Using FOI to protect social housing and council property</h2>
        <div class="card-body">
          <p>Freedom of Information was one tool used in a coordinated campaign to prevent a council from selling off a large part of its property portfolio — including many social housing homes.</p>
        </div>
      </a>

      <a class="card" href="https://www.mysociety.org/2018/05/17/truth-justice-for-haemophiliacs-whatdotheyknow-and-the-contaminated-blood-scandal/">
        <img class="card-image" role="presentation" aria-hidden="true" src="https://www.mysociety.org/files/2018/05/rawpixel-577480-unsplash.jpg" alt="" loading="lazy">
        <h2 class="card-header">Truth & justice for haemophiliacs: WhatDoTheyKnow and the contaminated blood scandal</h2>
        <div class="card-body">
          <p>Read on to find out how Jason learned the ropes of submitting an FOI request, and how one thing led to another… until he was looking at a group legal action against the government.</p>
        </div>
      </a>

      <a class="card" href="https://www.mysociety.org/2019/07/26/after-exploitation-using-foi-to-understand-what-happens-to-victims-of-modern-slavery/">
        <img class="card-image" role="presentation" aria-hidden="true" src="https://www.mysociety.org/files/2019/07/Thin_Purple_Line_Patch.jpg" alt="" loading="lazy">
        <h2 class="card-header">After Exploitation: using FOI to understand what happens to victims of modern slavery</h2>
        <div class="card-body">
          <p>Our Freedom of Information site WhatDoTheyKnow played a vital part in the project’s research, both in helping identify what data was available, and in bringing about its release.</p>
        </div>
      </a>

      <a class="card" href="https://www.mysociety.org/2023/02/09/foi-and-chinese-cctv-cameras/">
        <img class="card-image" role="presentation" aria-hidden="true" src="https://www.mysociety.org/files/2023/02/security-cameras-3000x1239.jpg" alt="" loading="lazy">
        <h2 class="card-header">FOI and Chinese CCTV cameras</h2>
        <div class="card-body">
          <p>Big Brother Watch is a UK organisation that campaigns to defend civil liberties and privacy. As such, they keep a close eye on the ‘surveillance state’: the degree to which authorities are monitoring citizens, and the ever-more sophisticated technology that enables them to do so.</p>
        </div>
      </a>

      <a class="card" href="https://www.mysociety.org/2021/08/02/freedom-of-information-as-a-tool-for-making-cycle-routes-more-accessible/">
        <img class="card-image" role="presentation" aria-hidden="true" src="https://www.mysociety.org/files/2021/07/DSC_0873.jpg" alt="" loading="lazy">
        <h2 class="card-header">Freedom of Information as a tool for making cycle routes more accessible</h2>
        <div class="card-body">
          <p>The Equality Act of 2010 requires that disabled people are not disadvantaged by any ‘provision, criterion or practice’. You might be familiar with its implications in the workplace or in providing customer services, but the law also applies to the public realm.</p>
        </div>
      </a>

      <a class="card" href="https://www.mysociety.org/2023/06/15/foi-helps-campaigns-sometimes-in-unexpected-ways/">
        <img class="card-image" role="presentation" aria-hidden="true" src="https://www.mysociety.org/files/2023/06/Wandsworth-race-track.jpg" alt="" loading="lazy">
        <h2 class="card-header">FOI helps campaigns — sometimes in unexpected ways</h2>
        <div class="card-body">
          <p>In 2021, runners were finding that the athletics track surface had degraded so much that it was becoming dangerously hard to run on and training in spikes was no longer possible.</p>
        </div>
      </a>
    </div>
  </section>

  <section id="further-resources">
    <div class="section-intro section-intro-centre">
      <h2>Further resources</h2>
    </div>

    <div class="card-grid">
      <div class="grid-item">
        <h3 class="grid-item-title">More about FOI</h3>
        <a class="card card-link" href="<%= help_glossary_path %>">Key terms & glossary</a>
        <a class="card card-link" href="<%= help_exemptions_path %>">Reasons authorities can withhold information</a>
      </div>

      <div class="grid-item">
        <h3 class="grid-item-title">Advanced topics</h3>
        <a class="card card-link" href="<%= help_commercial_interests_exemptions_path %>">Commercial interests exemptions</a>
        <a class="card card-link" href="<%= help_accessing_information_path %>">Making the most of public requests on WhatDoTheyKnow</a>
      </div>

      <div class="grid-item">
        <h3 class="grid-item-title">Other places to go</h3>
        <a class="card card-link" href="<%= help_books_path %>">FOI books</a>
      </div>
    </div>

  </section>
</div>

