<div class="help-sidebar">
    <div id="about_sidebar">
        <h2>Tudalennau cymorth</h2>
        <ul>
            <li><%= link_to_unless_current "Cyflwyniad", help_about_path %></li>
            <li><%= link_to_unless_current "Gwneud ceisiadau", help_requesting_path %></li>
            <li><%= link_to_unless_current "Eich preifatrwydd", help_privacy_path %></li>
            <li><%= link_to_unless_current "Swyddogion Rhyddid Gwybodaeth", help_officers_path %></li>
            <li><%= link_to_unless_current "Credydau", help_credits_path %></li>
            <li><%= link_to_unless_current "API Rhaglenwyr", help_api_path %></li>
            <li><%= link_to_unless_current "Chwiliad manwl", advanced_search_path %></li>
            <li><%= link_to_unless_current "Alaveteli", help_alaveteli_path %></li>
        </ul>

        <% unless is_contact_page? %>
        <h2 id="contact">Cysylltwch â ni</h2>
        <p>Os nad yw eich cwestiwn yn cael ei ateb yma, neu eich bod jyst eisiau
    gadael i ni wybod rhywbeth am y wefan, <a href="<%= help_contact_path %>">cysylltwch â ni</a>.
        </p>
        <% end %>
    </div>
</div>
