<% @title = 'Access to Information Books' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">

  <div id="help_books">
    <div class="box-out">
      <div class="box-in">
        <h1>Access to Information Books</h1>
        <p>
          Our list of recommended books about Freedom of Information and how to
          use it. Many of these books will be available, for free,
          <a href="https://libraryon.org/libraries">in public libraries</a>.
        </p>

        <div class="book-grid">
          <div class="book">
            <%= image_tag 'foi_books/freedom_of_information_a_practical_guidebook.jpg', alt: 'Freedom of Information: A practical guidebook' %>
            <h3>Freedom of Information: A practical guidebook</h3>
            <p>By Martin Rosenbaum. A thorough and accessible account of how to use the Freedom of Information Act.</p>
            <a href="https://www.rhododendronpublishing.co.uk/books/p/freedom-of-information-pb">Learn more</a>
          </div>

          <div class="book">
            <%= image_tag 'foi_books/freedom_of_information_a_practical_guide_for_uk_journalists.jpg', alt: 'Freedom of Information: A Practical Guide for UK Journalists' %>
            <h3>Freedom of Information: A Practical Guide for UK Journalists</h3>
            <p>By Matthew Burgess. A detailed guide for journalists on using FOI effectively in their reporting.</p>
            <a href="https://www.routledge.com/Freedom-of-Information-A-Practical-Guide-for-UK-Journalists/Burgess/p/book/9781138793217">Learn more</a>
          </div>

          <div class="book">
            <%= image_tag 'foi_books/getting_started_with_data_journalism.jpg', alt: 'Getting Started with Data Journalism' %>
            <h3>Getting Started with Data Journalism</h3>
            <p>By Claire Miller. Practical advice for journalists writing data stories in any size newsroom.</p>
            <a href="https://leanpub.com/gettingstartedwithdatajournalism">Learn more</a>
          </div>

          <div class="book">
            <%= image_tag 'foi_books/your_right_to_know.jpg', alt: 'Your Right to Know' %>
            <h3>Your Right to Know: A Citizen's Guide to the Freedom of Information Act</h3>
            <p>By Heather Brooke. A citizen’s guide to the Freedom of Information Act.</p>
            <a href="https://uk.bookshop.org/p/books/your-right-to-know-a-citizen-s-guide-to-the-freedom-of-information-act-heather-brooke/3939186">Learn more</a>
          </div>

          <div class="book">
            <%= image_tag 'foi_books/foia_without_the_lawyer.jpg', alt: 'FOIA without the Lawyer' %>
            <h3>FOIA without the Lawyer</h3>
            <p>By Brendan Montague and Lucas Amin. Practical advice on making FOI requests independently.</p>
            <a href="https://tcij.org/handbooks/foia-without-the-lawyer/">Learn more</a>
          </div>

          <div class="book">
            <%= image_tag 'foi_books/eirs_without_the_lawyer.jpg', alt: 'EIRs without the Lawyer' %>
            <h3>EIRs without the Lawyer</h3>
            <p>By Lucas Amin and Brendan Montague. Guidance for using Environmental Information Regulations (EIRs).</p>
            <a href="https://tcij.org/handbooks/eirs-without-the-lawyer/">Learn more</a>
          </div>

          <div class="book">
            <%= image_tag 'foi_books/the_politics_of_freedom_of_information.jpg', alt: 'The Politics of Freedom of Information' %>
            <h3>The Politics of Freedom of Information: How and Why Governments Pass Laws That Threaten Their Power</h3>
            <p>By Ben Worthy. Examines how governments handle FOI requests and transparency.</p>
            <a href="https://manchesteruniversitypress.co.uk/9781526151759/">Learn more</a>
          </div>

          <div class="book">
            <%= image_tag 'foi_books/the_freedom_of_information_officers_handbook.jpg', alt: "The Freedom of Information Officer's Handbook" %>
            <h3>The Freedom of Information Officer's Handbook</h3>
            <p>By Paul Gibbons. A comprehensive resource for FOI officers and public authorities.</p>
            <a href="https://www.facetpublishing.co.uk/page/detail/the-freedom-of-information-officers-handbook-by-paul-gibbons/?k=9781783303540">Learn more</a>
          </div>

          <div class="book">
            <%= image_tag 'foi_books/writers_under_surveillance.jpg', alt: 'Writers Under Surveillance' %>
            <h3>Writers Under Surveillance</h3>
            <p>By JPat Brown, B. C. D. Lipton and Michael Morisy. A collection of government files on writers obtained through FOIA.</p>
            <a href="https://mitpress.mit.edu/9780262536387/writers-under-surveillance/">Learn more</a>
          </div>

          <div class="book">
            <%= image_tag 'foi_books/journalism_through_rti.jpg', alt: 'Journalism through RTI' %>
            <h3>Journalism Through RTI: Information, Investigation, Impact</h3>
            <p>By Shyamlal Yadav. A guide to using access to information for journalists, journalism students, social activists, researchers and concerned citizens</p>
            <a href="https://www.routledge.com/Journalism-Through-RTI-Information-Investigation-Impact/Yadav/p/book/9781032906973">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
