<% @title = "Contact us" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
<h1>Contact us</h1>
<p>Who do you need to contact?</p>

<div class="contact-page">

    <h2 class="contact-page__goal" id="government">
        <label class="houdini-label" for="goal1">
            I want to contact a <strong>government department</strong>
            – for example, Visas and Immigration, the Home Office, HMRC,
            or the Department for Work and Pensions.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal1">
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                If you want to make a public Freedom Of Information
                request to a UK government department, you can
                <a href="<%= select_authority_path %>">start here</a>.
            </li>
            <li>
                If you need to discuss personal matters with a
                UK government department, you should
                <a href="https://www.gov.uk/">find them on GOV.UK</a>.
            </li>
            <li>
                If you’re having trouble getting the service you require
                from a government body then your MP’s office can often
                help. You can <a href="https://www.writetothem.com/">write
                to your MP on WriteToThem.com</a>.
            </li>
        </ul>
    </div>

    <h2 class="contact-page__goal" id="authority">
        <label class="houdini-label" for="goal2">
            I want to contact a public authority, like my
            <strong>local council, hospital, or school</strong>.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal2">
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                If you want to make a public Freedom Of Information
                request to a UK council or public authority, you can
                <a href="<%= select_authority_path %>">start here</a>.
            </li>
            <li>
                If you need to discuss personal matters with a
                UK council, you should <a href="https://www.gov.uk/">find
                them on GOV.UK</a>.
            </li>
            <li>
                If you want to write to your MP, local councillor, or
                other representative, you can
                <a href="https://www.writetothem.com/">write to your MP
                on WriteToThem.com</a>.
            </li>
        </ul>
    </div>


    <h2 class="contact-page__goal" id="writing-help">
        <label class="houdini-label" for="goal4">
            I need <strong>help writing a freedom of information request</strong>.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal4"
        <% if params["contact"] && params[:current_form] == 'writing-help' %>checked<% end %>>
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                Directly contact the volunteers who run WhatDoTheyKnow:

                <%= foi_error_messages_for :contact %>

                <%= render :partial => "help/contact_form",
                           :locals => { :form_id => 'writing-help' } %>
            </li>
        </ul>
    </div>


    <h2 class="contact-page__goal" id="wdtk">
        <label class="houdini-label" for="goal3">
            I have another issue, or feedback relating to the
            WhatDoTheyKnow.com website, that I want to raise with the
            <strong>team that runs WhatDoTheyKnow</strong>.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal3"
        <% if params["contact"] && params[:current_form] == 'wdtk' %>checked<% end %>>
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                First, try checking <a href="<%= help_about_path %>">our
                extensive help pages</a>, which contain a solution for most
                issues and questions you might have.
            </li>
            <li>
                <% if @user && @user.is_pro? %>
                    If your issue isn’t covered by our help pages, you can
                    directly contact the team who run WhatDoTheyKnow Pro:
                <% else %>
                    If your issue isn’t covered by our help pages, you can
                    directly contact the volunteers who run WhatDoTheyKnow:
                <% end %>

                <%= foi_error_messages_for :contact %>

                <%= render :partial => "help/contact_form",
                           :locals => { :form_id => 'wdtk' } %>
            </li>
        </ul>
    </div>

</div>
</div>
