<% @title = "Cysylltwch â ni" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
<h1><%= @title %></h1>
<p>Pwy hoffech gysylltu â nhw?</p>

<div class="contact-page">

    <h2 class="contact-page__goal" id="government">
        <label class="houdini-label" for="goal1">
            Rwyf am gysylltu ag <strong>adran o'r llywodraeth</strong>
             – er enghraifft, Fisâu a Mewnfudo, y Swyddfa Gartref, CThEM,
             neu'r Adran Gwaith a Phensiynau.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal1">
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                <a href="<%= select_authority_path %>">Ewch yma</a> i wneud 
                cais, yn gyhoeddus, am wybodaeth gan awdurdodau cyhoeddus 
                yn y DU.
            </li>
            <li>
                Os oes angen i chi drafod materion personol gyda chyngor y DU, 
                dylech <a href="https://www.gov.uk/cymraeg/">
                find wyf nhw ar GOV.UK</a>.
            </li>
            <li>
                Os ydych yn cael trafferth cael y gwasanaeth mae arnoch ei angen
                o gorff llywodraeth yna gall swyddfa eich AS yn aml
                helpu. Gallwch <a href="https://www.writetothem.com/">ysgrifen
                at eich AS ar WriteToThem.com</a>.
            </li>
        </ul>
    </div>

    <h2 class="contact-page__goal" id="authority">
        <label class="houdini-label" for="goal2">
            Rwyf am gysylltu ag awdurdod cyhoeddus, fel fy
            <strong>cyngor lleol, ysbyty, neu ysgol</strong>.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal2">
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                Os ydych eisiau gwneud cais Rhyddid Gwybodaeth i gyngor DU neu 
                awdurdod cyhoeddus, gallwch 
                <a href="<%= select_authority_path %>">find nhw yma</a>.
            </li>
            <li>
                Os oes angen i chi drafod materion personol gyda chyngor y DU, 
                dylech <a href="https://www.gov.uk/cymraeg/">
                find wyf nhw ar GOV.UK</a>.
            </li>
            <li>
                Os ydych chi eisiau ysgrifennu at eich AS, cynghorydd lleol, 
                neu gynrychiolydd arall, gallwch 
                <a href="https://www.writetothem.com/">
                ysgrifen i'ch AS ar WriteToThem.com</a>.
            </li>
        </ul>
    </div>


    <h2 class="contact-page__goal" id="writing-help">
        <label class="houdini-label" for="goal3">
            Rydw i angen <strong>help i ysgrifennu cais rhyddid 
            gwybodaeth</strong>.
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal3"
        <% if params["contact"] && params[:current_form] == 'writing-help' %>checked<% end %>>
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                Cysylltwch yn uniongyrchol â'r tîm sy'n rhedeg WhatDoTheyKnow:

                <%= foi_error_messages_for :contact %>

                <%= render :partial => "help/contact_form",
                           :locals => { :form_id => 'writing-help' } %>
            </li>
        </ul>
    </div>

    <h2 class="contact-page__goal" id="wdtk-volunteer">
        <label class="houdini-label" for="goal4">
            Hoffwn gymryd rhan a dod yn <strong>wirfoddolwr</strong>
        </label>
    </h2>

    <input class="houdini-input" type="radio" name="goals" id="goal4"
        <% if params["contact"] && params[:current_form] == 'wdtk-volunteer' %>checked<% end %>>
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                Defnyddiwch y ffurflen hon os oes gennych ddiddordeb mewn gwirfoddoli ar gyfer
                WhatDoTheyKnow
            </li>
            <li>
                Os hoffech fwy o wybodaeth am ba wirfoddoli, gweld 
                <%= link_to _("ein tudalen cymryd rhan"), help_volunteers_path %>.
            </li>
            <li>
                <%= foi_error_messages_for :contact %>

                <%= render :partial => "help/contact_volunteer_form",
                           :locals => { :form_id => 'wdtk-volunteer' } %>
            </li>
        </ul>
    </div>
    

    <h2 class="contact-page__goal" id="wdtk">
        <label class="houdini-label" for="goal5">
            Mae gen i fater arall, neu adborth yn ymwneud â'r
            WhatDoTheyKnow.com wefan, fy mod am godi gyda'r
            <strong>tîm sy'n rhedeg WhatDoTheyKnow</strong>.
        </label>
    </h2>

   <input class="houdini-input" type="radio" name="goals" id="goal5"
        <% if params["contact"] && params[:current_form] == 'wdtk' %>checked<% end %>>
    <div class="houdini-target contact-page__options">
        <ul>
            <li>
                Yn gyntaf, rhowch gynnig ar wirio <a href="<%= help_about_path %>">our
                tudalennau cymorth helaeth</a>, sy'n cynnwys ateb i'r rhan fwyaf
                materion a chwestiynau sydd gennych.
            </li>
            <li>
                Os nad yw eich problem yn dod o dan ein tudalennau cymorth, gallwch 
                gysylltu'n uniongyrchol â'r tîm sy'n rhedeg WhatDoTheyKnow:

                <%= foi_error_messages_for :contact %>

                <%= render :partial => "help/contact_form",
                           :locals => { :form_id => 'wdtk' } %>
            </li>
        </ul>
    </div>

</div>
</div>
