<% @title = "How we run WhatDoTheyKnow" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="title">
    <%= @title %>
    <a href="#title">#</a>
  </h1>
  <p>
    WhatDoTheyKnow is administered by a small team of mySociety staff and dedicated
    <a href="<%= help_credits_path(:anchor => 'volunteers') %>">volunteers</a>
    who have extensive knowledge and experience of Freedom of Information, and
    who support it. Decisions about the administration of the site are taken by
    this administration team, with support from mySociety’s Chief Executive and
    <a href="<%= help_about_path(:anchor => 'who') %>">Trustees</a>.
  </p>
    <h2 id="we_dont_check_the_information">
    We don't check the information on the site
    <a href="#we_dont_check_the_information">#</a>
  </h2>
  <p>
   Freedom of information law gives people the right to access recorded information that is held by public bodies even where the information is incorrect.
    We do not check the information provided by public authorities, or that contained within messages from requesters or annotations posted by users of the site.
   There may be gaps and errors in the information published on the site. Some of the information may be out of date now, even if it was correct when it was first created.
  </p>
   <h2 id="information_may_be_out_of_date">
    Information you find on the site may be out of date
    <a href="#information_may_be_out_of_date">#</a>
  </h2>
  <p>
    Some public bodies will release information that is many years out of date on the site.
    This can happen if the requester asks for information relating to events that happened a number of years ago.
    This can also happen if a document has not been updated for some time, and the requester asks for the latest version.
   This means that some of the information that is published on the site will already be out of date on the day it is published.
   We never remove material from the site just because it is old or because a newer version of the material exists.
    This is because we are trying to create a permanent archive.
  </p>
  <h2 id="reactive_moderation">
    Reactive moderation principle
    <a href="#reactive_moderation">#</a>
  </h2>
  <p>
    It would be impossible for the WhatDoTheyKnow volunteer team to moderate all
    requests and responses before they appear on the site. We will remove
    inappropriate material (material that contravenes our <a
    href="<%= help_house_rules_path %>">House Rules</a>) upon
    being informed, a process known as reactive moderation.
  </p>
  <p>
    This policy is in line with the approach used by major publishers such as
    the BBC and the Guardian. A key reason we take this approach is to reduce
    the liability we have for the content posted by users on our site; this is
    something we need to do due to the significant financial risks involved if
    we were deemed to be publishing libellous material.
  </p>
  <p>
    When we remove potentially defamatory material from our site we are not
    taking a view on if it is accurate or not, we don’t have the resources to
    investigate that.
  </p>
  <h2 id="what_happens">
    What happens once a request is reported for attention?
    <a href="#what_happens">#</a>
  </h2>
  <p>
    Users report material on WhatDoTheyKnow for a wide range of different
    reasons. These include:
  </p>
  <ul>
    <li>
      <a href="#accidentally_released" title="Go to help section - Accidentally
        released personal information">Personal information which has been
        released by accident</a>
    </li>
    <li>
      <a href="#potentially_libellous" title="Go to help section - Potentially
        defamatory or libellous material">Potentially libellous or defamatory
        material published on the site</a>
    </li>
    <li>
      <a href="#copyright" title="Go to help section - Copyright">Copyright
        material</a>
    </li>
    <li>
      <a href="#compassionate_grounds" title="Go to help section -
      Compassionate Grounds">Compassionate grounds</a>
    </li>
    <li>
      <a href="#vexatious_requests" title="Go to help section - How do we deal
        with vexatious requests?">Vexatious requests</a>
    </li>
    <li>
      <a href="#invalid_requests" title="Go to help section - How do we deal
        with requests that are not valid? ">Invalid requests, that is, requests
        that are not Freedom of Information requests</a>
    </li>
  </ul>
  <h3 id="policy">
    Policy as a guide, not a rigid set of rules
    <a href="#policy">#</a>
  </h3>
  <p>
    Our policies have developed from the consideration and discussion of cases
    where the right course of action has not been obvious.
  </p>
  <p>
    These policies are not set in stone. New and unforeseen circumstances occur
    frequently, and while our body of policy and practice helps guide decisions,
    any WhatDoTheyKnow volunteer or mySociety staff member/trustee involved is free to
    suggest that the right thing to do in a specific case is to make an
    exception and/or establish a new policy.
  </p>
  <p>
    To discuss how to take action on a particular case that is not
    straightforward, volunteer administrators start an email discussion amongst
    the team of other volunteers and specific mySociety staff. Discussion among
    this group then leads to an agreed course of action.
  </p>
  <h3 id="information_removal">
    Removal of information
    <a href="#information_removal">#</a>
  </h3>
  <p>
    <strong>Our default is to keep unproblematic information online.</strong>
    WhatDoTheyKnow is a permanent, public archive of Freedom of Information
    requests. Even though you may not find the response to your request useful
    any more, it may be of interest to others. For this reason, our overriding
    aim is not to remove substantive public information requests and responses.
  </p>
  <p>
    <strong>However, we act quickly to remove problematic information. </strong>
    Once informed, the team will take prompt action to take such information
    down.
  </p>
  <p>
    Not all requests to remove information from the site are straightforward.
    When it is not immediately obvious that the information is for example
    libellous or personal, the volunteer team seek to obtain further information
    from the complainant to fully understand exactly what information they are
    concerned about and what they consider to be the problem with us publishing
    the information.
  </p>
  <p>
    The team always asks for the complainant to give their explanation by email,
    so there is a written record. Upon receiving sufficient information, the
    team discusses whether to take down the material amongst themselves, and
    where there’s an exceptional case with a wider internal group including
    mySociety’s Trustees and CEO via email.  If we agree to remove some material
    we will usually request a replacement response from the authority with all
    the original material minus the problematic material.
  </p>
  <p>
    If agreement cannot be reached for any reason, then mySociety’s Chief
    Executive will be the final arbiter.
  </p>
  <h4 id="accidentally_released">
    Accidentally released personal information
    <a href="#accidentally_released">#</a>
  </h4>
  <p>
    Sometimes public authorities mistakenly release personal information, in breach
    of the Data Protection Act. Once the admin team has received a
    notification/complaint about an accidental data release, they follow this
    procedure:
  </p>
  <ul>
    <li>
      The first person to see the complaint about an accidental data release
      will start by hiding the minimum amount of material required to excise the
      problem. We seek to run the site as transparently as possible so will
      replace the material with an explanation such as “personal information
      removed”, and may add an annotation explaining the problem which occured
      and the action taken.
    </li>
    <li>
      If it is technically difficult to separate properly released material from
      that which needs to be removed, we ask the public body to provide a
      replacement response.
    </li>
    <li>
      In the case of a serious breach we suggest that the authority self-reports
      to the ICO. If the authority doesn’t acknowledge the data breach we will
      contact the ICO ourselves.
    </li>
  </ul>
  <p>
    In order for material to be removed from the site, it must be a credible
    accidental release and not a rethink or change of mind over a release.
  </p>
  <p>
    The ICO requests that serious breaches of data protection are reported to
    them; their guidance on what constitutes serious is <a
    href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/personal-data-breaches/"
    title="View guidance on Personal data breaches on the ICO website"
    alt="View guidance on Personal data breaches on the ICO website"
    >outlined on their website</a>.
  </p>
  <p>
    If you become aware of a potential data breach, please
    <%= link_to 'get in touch', help_contact_path %> with us so that we can
    review it and take any appropriate action.
  </p>
  <h4 id="potentially_libellous">
    Potentially defamatory or libellous material
    <a href="#potentially_libellous">#</a>
  </h4>
  <p>
    Unfortunately, some people use WhatDoTheyKnow to post potentially
    defamatory/libellous material. We take action, upon being informed, to
    remove this material. However, we also try to strike a balance: we don’t
    remove information unnecessarily if we believe that publishing it is in the
    public interest, or if we think there is a strong case in UK law to defend
    its publication.
  </p>
  <p>
    For example we are, under some circumstances, prepared to publish:
  </p>
  <ul>
    <li>
      Potentially defamatory requests which address the performance and
      behaviour of public authorities.
    </li>
    <li>
      Requests for complaints and performance information about regulated
      professionals such as police officers, doctors and social workers.
    </li>
  </ul>
  <p>
    As with personal information, where the decision on what to do isn’t clear
    cut, we discuss the matter with
    <a href="<%= help_about_path(:anchor => 'who') %>">
    the wider group, including mySociety’s CEO and Trustees</a>.
  </p>

  <h4 id="commercial_information">
    Requests to remove commercial information
    <a href="#commercial_information">#</a>
  </h4>
  <p>
    Takedown requests on matters such as commercial sensitivity and confidential
    information such as contracts are infrequent but important. We deal with
    them on a case by case basis with trustees ultimately assessing the legal
    risk of ongoing publication.
  </p>
  <p>
    The law prohibiting a breach of confidence is our prime concern in such
    cases.
  </p>
  <h4 id="copyright">
    Copyright
    <a href="#copyright">#</a>
  </h4>
  <p>
    It is legitimate to request copyrighted material under Freedom of
    Information law.
  </p>
  <p>
    Sometimes we receive requests to take down information for
    copyright reasons from a public authority or from someone who holds
    commercial or other copyright of information on WhatDoTheyKnow.
  </p>
  <p>
    While many responses are accompanied by a notice saying that the material
    provided is protected by copyright, we only consider taking content down
    following contact from someone raising specific concerns.
  </p>
  <p>
    In those cases we bear in mind that our Freedom of Information law is
    “applicant blind”, so anyone in the world can request the same document and
    get a copy of it. We also want to save public money by preventing
    duplicate requests.
  </p>
  <h4 id="compassionate_grounds">
  Removal of information on compassionate grounds
  <a href="#compassionate_grounds">#</a>
  </h4>
  <p>
    On rare occasions, in exceptional circumstances, an editorial decision may be
    taken to remove requests, and/or responses, on compassionate grounds. Such
    cases are treated sensitively on a case-by case basis.
  </p>
  <p>
    Where requests relate to deceased individuals we have a presumption towards
    removing material on compassionate grounds where the request is by a
    family member or friend who may not have considered the consequences of
    using our service.
  </p>
  <h4 id="vexatious_requests">
    How do we deal with vexatious requests?
    <a href="#vexatious">#</a>
  </h4>
  <p>
    We remove vexatious requests from our site when they are drawn to our
    attention.
  </p>
  <p>
    In determining if a request is vexatious (has no serious purpose, or is
    intended to be disruptive to the work of a public body), we make an
    independent judgement taking into account
    <a href="https://ico.org.uk/media/for-organisations/documents/1198/dealing-with-vexatious-requests.pdf">
    the ICO’s guidance on vexatious requests</a> and don’t always follow the
    position of the public body.
  </p>
  <h4 id="invalid_requests">
    How do we deal with requests that are not valid?
    <a href="#invalid_requests">#</a>
  </h4>
  <p>
    When we are made aware of it, we remove any correspondence from our site
    which is not a request for  information that anyone could expect a
    substantive response to.
  </p>
  <p>
    The vast majority of invalid “requests” are actually not Freedom of
    Information requests at all but correspondence relating to people’s personal
    circumstances.
  </p>
  <p>
    We point users making requests for their own personal information to
    <a href="https://ico.org.uk/for-the-public/personal-information/">guidance
    on making Subject Access requests under the Data Protection Act</a> and
    try to help others find more appropriate means of contacting public authorities.
  </p>
  <h4 id="email_addresses">
    Why do we remove email addresses and mobile phone numbers from responses?
    <a href="#email_addresses">#</a>
  </h4>
  <p>
    To guard all parties against spam, and to encourage keeping all
    correspondence on WhatDoTheyKnow, we automatically remove most email
    addresses and some mobile numbers from responses to requests. For technical
    reasons we don’t always manage to remove them from attachments, such as
    certain PDFs.
  </p>
  <p>
    If you need to know an address that we've removed, please
    <a href="<%=  help_contact_path %>">get in touch</a> with us. It's worth
    noting though, that as our team is small, we've not got the capacity to
    deal with a large number of these requests, so our service isn't well
    suited to being used to gather email addresses.
    Occasionally, an email address forms an important part of a response and if
    we’re asked to reveal it we may post it in an annotation.
  </p>
  <h4 id="send_errors">
    How do we deal with requests that are not sent successfully?
    <a href="#send_errors">#</a>
  </h4>
  <ul>
    <li>
      The admin team act to re-send requests/messages when we spot failed
      delivery within a reasonable period of a user submitting the request.
    </li>
    <li>
      A public body or the requestor may ask us to resend a specific message and
      typically we will do so.
    </li>
    <li>
      We generally don’t resend very old correspondence,  for example if there’s
      been a delivery failure that has gone unnoticed for many months, and the
      if there’s a clear bounce/error message) the request may be marked
      “withdrawn” on the basis of abandonment, or marked as still awaiting a
      response.
    </li>
  </ul>
  <h4 id="backpaging">
    Backpaging
    <a href="#backpaging">#</a>
  </h4>
  <p>
    Administrators can "backpage" a request thread, this means the page is
    accessible to those who have the direct link to it, but it is not included
    in lists of requests or search results on the site. This is similar to
    YouTube's "unlisted" or GoogleDoc's "anyone with the link" accessibility
    settings.
  </p>
  <p>
    When a request on WhatDoTheyKnow is "backpaged" meta-tags are added to the
    header of the request page, and linked attachments, to ask external search
    engines not to index the material. This feature is rarely used, but can
    help us continue to publish material we might otherwise remove.
  </p>
  <p>
    Backpaging reduces the impact of our publication, it can, for example, be
    used to make it more likely that our interests in processing and publishing
    material outweigh any negative impacts on those whose personal information
    is involved.
  </p>
  <h2 id="admin_team">
    Membership of the admin team
    <a href="#admin_team">#</a>
  </h2>
  <p>
    WhatDoTheyKnow is a project of mySociety run by a small team of staff
    and dedicated volunteers.
  </p>
  <p>
    Volunteers are supervised and mentored by the other members of the
    admin team. As mySociety is a distributed organisation, we keep in touch
    by email or individual calls as required. Volunteers’ activity running the
    site, or on email lists, is visible to other members of the admin team, as
    well as other mySociety staff, and anyone can speak up with suggestions for
    doing things differently.
  </p>
  <p>
    We also have regular online team meetings that all volunteers are invited
    to join, although attendance at these is optional.
  </p>
  <p>
    When a new volunteer starts, they are asked to agree to the terms of a
    volunteer agreement.  This includes mySociety’s
    <a href="https://www.mysociety.org/code-of-conduct/"
    title="Link to the mySociety Code of Conduct (opens in a new window)"
    target="_blank">Code of Conduct</a>, password policy, data retention policy
    and personal data policy.
  </p>
  <p>
    Depending on the nature of their volunteering, they may have an
    introductory call with a current member of the WhatDoTheyKnow admin team,
    generally with one existing volunteer and one member of staff.
  </p>
  <p>
    Volunteers who will actively administer the site are asked to join a
    training call in which a member of the admin team will demonstrate the use
    of the WhatDoTheyKnow admin interface. If everyone concerned is
    comfortable, they may then be given access to the administration interface.
  </p>
  <p>
    Joining the admin team is not the only way to help run the site. Read more
    on how to
    <a href="https://www.whatdotheyknow.com/help/volunteers"
    title="Find out more about volunteering at WhatDoTheyKnow">get involved</a>
  </p>
  <h2 id="user_accounts">
    User accounts
    <a href="#user_accounts">#</a>
  </h2>
  <p>
    If you sign up for an account on WhatDoTheyKnow, a profile listing any
    requests and annotations you have made will be publicly accessible.
  </p>
  <h3 id="anonymise_account">
    Requests to remove or anonymise an account
    <a href="#anonymise_account">#</a>
  </h3>
  <p>
    We think that well-written requests for information on important subjects
    form a positive element of anyone’s “online footprint”. We hope our users’
    record of actions on WhatDoTheyKnow reflects well on them and shouldn’t be
    something they feel the need to ask to have removed.
  </p>
  <p>
    That said, we will, on request, change the username of an account to “name
    removed”, and make an attempt to remove a user’s name where it appears in
    the plain text of the correspondence. When we take such action we suspend
    the account in question and prevent any further use of it as we don’t want
    people interacting with public authorities via our site under the name “name
    removed”.  Users whose accounts have been anonymised in this way are free to
    sign up again with a new account for any future use of our site.
  </p>
  <p>
    If the account hasn’t been used to post anything (request or annotation)
    then removing it is obviously unproblematic and we do so on request.
  </p>
  <p>
    We do not remove substantive FOI requests and responses other than in
    exceptional circumstances, such as where we’re required to do so by law. We,
    like public authorities publishing disclosure logs, don’t consider anonymised
    requests and responses to be users’ personal information which they have a
    right to have removed from our service on request.
  </p>
  <h3 id="banning_users">
    Banning users
    <a href="#banning_users">#</a>
  </h3>
  <p>
    We ban users for persistent misuse of our service (e.g. going against our
    <a
    href="<%= help_house_rules_path %>">House Rules</a>).
    Banning or suspending users is a last resort; if possible the
    WhatDoTheyKnow volunteer team advise users on how to use our service in an
    acceptable way. This guidance is provided via email or annotations. If the
    user continues to abuse the service after such interventions, their account
    is banned.  Bans without a warning can be used in cases where there’s no
    serious use of the service, e.g. spam accounts, or in cases of serious
    misuse. After an account has been banned, the WhatDoTheyKnow volunteer team
    write to the user to explain the reasons that led to this decision.
  </p>

  <%= render partial: 'history' %>
</div>
