<% @title = "How we run WhatDoTheyKnow" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="title">
    <%= @title %>
    <a href="#title">#</a>
  </h1>
  <p>
    WhatDoTheyKnow is administered by a small team of mySociety staff and dedicated
    <a href="<%= help_credits_path(:anchor => 'volunteers') %>">volunteers</a>
    who have extensive knowledge and experience of Freedom of Information, and
    who support it. Decisions about the administration of the site are taken by
    this administration team, with support from mySociety’s Chief Executive and
    <a href="<%= help_about_path(:anchor => 'who') %>">Trustees</a>.
  </p>
  <h2 id="we_dont_check_the_information">
    We don't check the information on the site
  <a href="#we_dont_check_the_information">#</a>
  </h2>
  <p>
    Freedom of information law gives people the right to access recorded information that is held by public authorities, even where the information is incorrect.
    We do not check the information provided by public authorities, or that contained within messages from requesters or annotations posted by users of the site.
    There may be gaps and errors in the information published on the site. Some of the information
    <a href="#information_may_be_out_of_date">may be out of date</a>.
  </p>
  <h2 id="information_may_be_out_of_date">
    Information you find on the site may be out of date
  <a href="#information_may_be_out_of_date">#</a>
  </h2>
  <p>
    Some public bodies will release information that is many years out of date on the site.
    This can happen if the requester asks for information relating to events that happened a number of years ago.
    This can also happen if a document has not been updated for some time, and the requester asks for the latest version.
    This means that some of the information that is published on the site will already be out of date on the day it is published.
    We never remove material from the site just because it is old or because a newer version of the material exists.
    This is because we are trying to create a permanent archive.
  </p>
 <h2 id="we_dont_provide_professional_advice">
    We don't provide professional advice
    <a href="#we_dont_provide_professional_advice">#</a>
  </h2>
  <p>
    WhatDoTheyKnow contains information on a wide variety of topics. While some of the documents and files
    published on the site contain recommendations and guidance, it is important to remember that this
    information may be <a href="#we_dont_check_the_information">incorrect</a> or 
    <a href="#information_may_be_out_of_date">out of date</a>. Even where information is up to date and 
    accurate, it may not be suitable for your specific circumstances 
    or the circumstances of someone you are trying to help. The information on the site is not 
    intended to be used as professional advice by users of the site or anyone else. In addition, the 
    team that runs the site cannot provide financial, medical or legal advice, or any other type of
    professional advice. See also the help text below relating to 
    <a href="#medical_information">medical information</a> on the site.
  </p>
  <p>
    If you need advice, please consider seeking advice from a qualified professional.
  </p>
<h2 id="medical_information">
    Do not rely on any medical information you find on the site
    <a href="#medical_information">#</a>
</h2>
  <p>
    WhatDoTheyKnow contains information on a wide variety of topics including information relating 
    to healthcare. The information on the site may be 
    <a href="#we_dont_check_the_information">incorrect</a> or 
    <a href="#information_may_be_out_of_date">out of date</a>. 
    Even if you find information on the site about healthcare that you believe is accurate and up to date, 
    it may not apply to you or someone you are trying to help, even if the symptoms appear to be similar.
    In addition, the team that runs the site cannot provide medical advice or any other type of 
    <a href="#we_dont_provide_professional_advice">professional advice</a>.
  </p>
  <p>
    If you think that you may need medical advice or treatment, you should contact a qualified
    medical professional such as a doctor or pharmacist. In the UK, you also have the option to contact the 
    NHS advice service: 
    <a href="https://www.nhs.uk/nhs-services/urgent-and-emergency-care-services/when-to-use-111/">NHS 111</a>.
    If you require emergency medical assistance you should contact the emergency services immediately.
    In the UK, in a medical emergency, you should dial 999 or 112 and ask for the ambulance service.
  </p>
  <p>
    Please do not delay seeking medical advice or ignore any medical advice you have received based on any
    information found on this site.
  </p>
  <h2 id="reactive_moderation">
    Reactive moderation principle
    <a href="#reactive_moderation">#</a>
  </h2>
  <p>
    It would be impossible for the WhatDoTheyKnow volunteer team to moderate all
    requests and responses before they appear on the site. We will remove
    inappropriate material (material that contravenes our <a
    href="<%= help_house_rules_path %>">House Rules</a>) upon
    being informed, a process known as reactive moderation.
  </p>
  <p>
    This policy is in line with the approach used by major publishers such as
    the BBC and the Guardian. A key reason we take this approach is to reduce
    the liability we have for the content posted by users on our site; this is
    something we need to do due to the significant financial risks involved if
    we were deemed to be publishing libellous material.
  </p>
  <p>
    When we remove potentially defamatory material from our site we are not
    taking a view on if it is accurate or not, we don’t have the resources to
    investigate that.
  </p>
  <h2 id="what_happens">
    What happens once a request is reported for attention?
    <a href="#what_happens">#</a>
  </h2>
  <h3 id="policy">
    Policy as a guide, not a rigid set of rules
    <a href="#policy">#</a>
  </h3>
  <p>
    Our policies have developed from the consideration and discussion of cases
    where the right course of action has not been obvious.
  </p>
  <p>
    These policies are not set in stone. New and unforeseen circumstances occur
    frequently, and while our body of policy and practice helps guide decisions,
    any WhatDoTheyKnow volunteer or mySociety staff member/trustee involved is free to
    suggest that the right thing to do in a specific case is to make an
    exception and/or establish a new policy.
  </p>
  <p>
    To discuss how to take action on a particular case that is not
    straightforward, volunteer administrators start an email discussion amongst
    the team of other volunteers and specific mySociety staff. Discussion among
    this group then leads to an agreed course of action.
  </p>
  <h4 id="invalid_requests">
    How do we deal with requests that are not valid?
    <a href="#invalid_requests">#</a>
  </h4>
  <p>
    When we are made aware of it, we remove any correspondence from our site
    which is not a request for  information that anyone could expect a
    substantive response to.
  </p>
  <p>
    The vast majority of invalid “requests” are actually not Freedom of
    Information requests at all but correspondence relating to people’s personal
    circumstances.
  </p>
  <p>
    We point users making requests for their own personal information to
    <a href="https://ico.org.uk/for-the-public/personal-information/">guidance
    on making Subject Access requests under the Data Protection Act</a> and
    try to help others find more appropriate means of contacting public authorities.
  </p>
  <h4 id="email_addresses">
    Why do we remove email addresses and mobile phone numbers from responses?
    <a href="#email_addresses">#</a>
  </h4>
  <p>
    To guard all parties against spam, and to encourage keeping all
    correspondence on WhatDoTheyKnow, we automatically remove most email
    addresses and some mobile numbers from responses to requests. For technical
    reasons we don’t always manage to remove them from attachments, such as
    certain PDFs.
  </p>
  <p>
    If you need to know an address that we've removed, please
    <a href="<%=  help_contact_path %>">get in touch</a> with us. It's worth
    noting though, that as our team is small, we've not got the capacity to
    deal with a large number of these requests, so our service isn't well
    suited to being used to gather email addresses.
    Occasionally, an email address forms an important part of a response and if
    we’re asked to reveal it we may post it in an annotation.
  </p>
  <h4 id="send_errors">
    How do we deal with requests that are not sent successfully?
    <a href="#send_errors">#</a>
  </h4>
  <ul>
    <li>
      The admin team act to re-send requests/messages when we spot failed
      delivery within a reasonable period of a user submitting the request.
    </li>
    <li>
      A public body or the requestor may ask us to resend a specific message and
      typically we will do so.
    </li>
    <li>
      We generally don’t resend very old correspondence,  for example if there’s
      been a delivery failure that has gone unnoticed for many months, and the
      if there’s a clear bounce/error message) the request may be marked
      “withdrawn” on the basis of abandonment, or marked as still awaiting a
      response.
    </li>
  </ul>
  <h4 id="backpaging">
    Backpaging
    <a href="#backpaging">#</a>
  </h4>
  <p>
    Administrators can "backpage" a request thread, this means the page is
    accessible to those who have the direct link to it, but it is not included
    in lists of requests or search results on the site. This is similar to
    YouTube's "unlisted" or GoogleDoc's "anyone with the link" accessibility
    settings.
  </p>
  <p>
    When a request on WhatDoTheyKnow is "backpaged" meta-tags are added to the
    header of the request page, and linked attachments, to ask external search
    engines not to index the material. This feature is rarely used, but can
    help us continue to publish material we might otherwise remove.
  </p>
  <p>
    Backpaging reduces the impact of our publication, it can, for example, be
    used to make it more likely that our interests in processing and publishing
    material outweigh any negative impacts on those whose personal information
    is involved.
  </p>
  <h2 id="admin_team">
    Membership of the admin team
    <a href="#admin_team">#</a>
  </h2>
  <p>
    WhatDoTheyKnow is a project of mySociety run by a small team of staff
    and dedicated volunteers.
  </p>
  <p>
    Volunteers are supervised and mentored by the other members of the
    admin team. As mySociety is a distributed organisation, we keep in touch
    by email or individual calls as required. Volunteers’ activity running the
    site, or on email lists, is visible to other members of the admin team, as
    well as other mySociety staff, and anyone can speak up with suggestions for
    doing things differently.
  </p>
  <p>
    We also have regular online team meetings that all volunteers are invited
    to join, although attendance at these is optional.
  </p>
  <p>
    When a new volunteer starts, they are asked to agree to the terms of a
    volunteer agreement.  This includes mySociety’s
    <a href="https://www.mysociety.org/code-of-conduct/"
    title="Link to the mySociety Code of Conduct (opens in a new window)"
    target="_blank">Code of Conduct</a>, password policy, data retention policy
    and personal data policy.
  </p>
  <p>
    Depending on the nature of their volunteering, they may have an
    introductory call with a current member of the WhatDoTheyKnow admin team,
    generally with one existing volunteer and one member of staff.
  </p>
  <p>
    Volunteers who will actively administer the site are asked to join a
    training call in which a member of the admin team will demonstrate the use
    of the WhatDoTheyKnow admin interface. If everyone concerned is
    comfortable, they may then be given access to the administration interface.
  </p>
  <p>
    Joining the admin team is not the only way to help run the site. Read more
    on how to
    <a href="https://www.whatdotheyknow.com/help/volunteers"
    title="Find out more about volunteering at WhatDoTheyKnow">get involved</a>
  </p>
  <h2 id="user_accounts">
    User accounts
    <a href="#user_accounts">#</a>
  </h2>
  <p>
    If you sign up for an account on WhatDoTheyKnow, a profile listing any
    requests and annotations you have made will be publicly accessible.
  </p>
  <h3 id="banning_users">
    Banning users
    <a href="#banning_users">#</a>
  </h3>
  <p>
    We ban users for persistent misuse of our service (e.g. going against our
    <a
    href="<%= help_house_rules_path %>">House Rules</a>).
    Banning or suspending users is a last resort; if possible the
    WhatDoTheyKnow volunteer team advise users on how to use our service in an
    acceptable way. This guidance is provided via email or annotations. If the
    user continues to abuse the service after such interventions, their account
    is banned.  Bans without a warning can be used in cases where there’s no
    serious use of the service, e.g. spam accounts, or in cases of serious
    misuse. After an account has been banned, the WhatDoTheyKnow volunteer team
    write to the user to explain the reasons that led to this decision.
  </p>

  <%= render partial: 'history' %>
</div>
