<% @title = "FOI officer questions" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>
  <dl>
    <dt id="top">I just got here from the bottom of an FOI request, what is going on?
      <a href="#top">#</a>
    </dt>
    <dd>
      <p>
        Welcome! WhatDoTheyKnow is a free service that helps ordinary members of
        the public make FOI requests, and easily track and share the responses
        from public bodies like yourself in the UK. It is run by the charity
        UKCOD.
      </p>
      <p>
        WhatDoTheyKnow has processed over 430,000 FOI requests since its launch
        in 2008, and is the UK’s most widely-known FOI service. We also campaign
        for citizen’s rights to information and for the strengthening of FOI
        laws.
      </p>
      <p>
        The FOI request that has brought you here was made by someone using
        WhatDoTheyKnow. You can simply reply to the request as you would any
        other request from an individual. <strong>The only difference is that
        your response will be automatically published on the Internet.</strong>
      </p>
      <p>
        If you have privacy or other concerns, please read the answers below.
        You might like to read the <a href="/help/about">introduction to
        WhatDoTheyKnow</a> to find out more about what the site does from the
        point of view of a user. You can also search the site to find the
        authority that you work for, and view the status of any requests made
        using the site.
      </p>
      <p>
        Finally, we welcome comments and
        thoughts from FOI officers, please <a href="<%= help_contact_path %>">
        get in touch</a>.
      </p>
    </dd>
    <dt id="responses">
      Why are you publishing responses to FOI requests?
      <a href="#responses">#</a>
    </dt>
    <dd>
      <p>
        We think there are lots of benefits to doing so.
      </p>
      <ul>
        <li>
          Most importantly it will encourage the public to be more interested
          and involved in the work of government.
        </li>
        <li>
          We also hope that it will reduce the number of duplicate requests on
          any subject that a public body will receive.
        </li>
        <li>
          Those taking action following the release of material, such as
          lobbying elected representatives or writing articles, are able to cite
          the source of the information they are referring to.
        </li>
        <li>
          Given that Freedom of Information responses contain public
          information, which anybody could easily request again from the
          public authority, we think there should be no reason not to publish
          it widely.
        </li>
      </ul>
    </dd>
    <dt id="realpeople">
      Are the people making requests real people?
      <a href="#realpeople">#</a>
    </dt>
    <dd>
      <p>
        Yes. For the purposes of keeping track of responses we use
        computer-generated email addresses for each request. However, before
        they can send a request, each user must register on the site with a
        unique email address that we then verify. You can search this site and
        find a page listing all requests that each person has made.
      </p>
    </dd>
    <dt id="email_only">
      An email isn’t a sufficient address for an FOI request!
      <a href="#email_only">#</a>
    </dt>
    <dd>
      <p>
        In fact, it is, as you’ll see via the information below.
      </p>
      <ul>
        <li>
          The Ministry of Justice has guidance – <i>“As well as hard copy
          written correspondence, requests that are transmitted electronically
          (for example, in emails) are acceptable ... If a request is received
          by email and no postal address is given, the email address should be
          treated as the return address.”</i>
        </li>
        <li>
          The Information Commissioner’s
          <a href="http://www.ico.org.uk/for_organisations/freedom_of_information/guide/receiving_a_request">
          Hints for Practitioners</a> say <i>“A
          request must ... include an address for correspondence. This need not
          be the person’s residential or work address - it can be <strong>any
          address at which you can write to them</strong>, including a postal
          address or <strong>email address;</strong>”</i>
        </li>
        <li>
          Paragraph 107 of the <a href="https://ico.org.uk/media/for-organisations/documents/1164/recognising-a-request-made-under-the-foia.pdf"
              title="Recognising a request made under the FOIA">Information
          Commissioner’s Guidance on recognising a request</a> under the Freedom
          of Information Act now contains a section specifically on
          <%= link_to 'WhatDoTheyKnow', frontpage_path %> which states:
          <blockquote>
            With respect to the address for correspondence, we consider the
            <code>@whatdotheyknow.com</code> email address provided to
            authorities when requests are made through the site to be a valid
            contact address for the purposes of Section 8(1)(b).
          </blockquote>
        </li>
        <li>
          This <a href="http://www.whatdotheyknow.com/request/1142/response/2894/attach/160/20080806100741260.pdf">
          letter from the ICO to Rother District Council</a> gives guidance on
          the matter, specifically in the context of requests made via
          WhatDoTheyKnow.
        </li>
      </ul>
    </dd>
    <dt id="vexatious">
      Aren’t you making lots of vexatious requests?
      <a href="#vexatious">#</a>
    </dt>
    <dd>
      <p>
        WhatDoTheyKnow is not making any requests. We are sending requests on
        behalf of our users, who are real people making the requests.
      </p>
      <p>
        Look at it like this - if lots of different people made requests from
        different Hotmail email addresses, then you would not think that Microsoft were
        making vexatious requests. It is exactly the same if lots of requests are made
        via WhatDoTheyKnow. Moreover, since all requests are public it is much easier
        for you to see if one of our users is making vexatious requests.
      </p>
    </dd>
    <dt id="spam_problems">
      I can see a request on WhatDoTheyKnow, but we never got it by email!
      <a href="#spam_problems">#</a>
    </dt>
    <dd>
      <p>
        If a request appears on the site, then we have attempted to send it to
        the authority by email. You’ll see a <a
        href="https://www.mysociety.org/2016/07/29/the-small-symbol-that-tells-you-all-is-well/">
        small green tick</a> by those which have certifiably
        been received by the authority’s mail servers, and any delivery failure
        messages will automatically appear on the site. You can check the
        address we’re using with the “View FOI email address” link which appears
        on the page for the authority. <a href="/help/contact">Contact us</a> if
        there is a better address we can use.
      </p>
      <p>
        Requests are sometimes not delivered because they are removed by “spam
        filters” in the IT department of the authority. Authorities can make
        sure this doesn’t happen by asking their IT departments to “whitelist”
        any email from <strong>@whatdotheyknow.com</strong>. If you <a href="<%=
        help_contact_path %>">ask us</a> we will resend any request, and/or give
        technical details of delivery so an IT department can chase up what
        happened to the message.
      </p>
      <p>
        Finally, you can respond to any request from your web browser, without
        needing any email, using the “Respond to request” link at the bottom of
        each request page.
      </p>
    </dd>
    <dt id="days">
      How do you calculate the deadline shown on request pages?
      <a href="#days">#</a>
    </dt>
    <dd>
      <p>
        The Freedom of Information Act says:
      </p>
      <blockquote>
        <p>
          A public authority must comply with section 1(1)
          <strong>promptly</strong> and in any event not later than the
          twentieth working day following the date of receipt.
        </p>
      </blockquote>
      <p>
        In our opinion, what matters most here is that the law says authorities
        must respond <strong>promptly</strong>.
      </p>
      <p>
        If there is a good reason why the request is going to take a while to
        process, requesters find it really helpful if you can send a quick email
        with a sentence or two saying what is happening.
      </p>
      <p>
        FOI officers often have to do a lot of hard work to answer requests, and
        this is hidden from the public. We think it would help everyone to have
        more of that complexity visible.
      </p>
      <p>
        Nonetheless, our site does provide an automatic countdown to the 20
        working day deadline. Here’s how we calculate it.
      </p>

      <ul>
        <li>
          If the day we deliver the request by email is a working day, we count
          that as “day zero”, even if it was delivered late in the evening. Days
          end at midnight.  We then count the next working day as “day one”, and
          so on up to <strong>20 working days</strong>.
        </li>
        <li>
          If the day the request email was delivered was a non-working day, we
          count the next working day as “day one”. Delivery is delivery, even if
          it happened on the weekend. Some authorities
          <a href="http://www.whatdotheyknow.com/request/policy_regarding_body_scans#incoming-1100">
          disagree with this</a>, our lawyer disagrees with them.
        </li>
        <li>
          Requesters are encouraged to mark when they have
          <strong>clarified</strong> their request so the clock resets, but
          sometimes they get this wrong. If you see a problem with a particular
          request, let us know and we’ll fix it.
        </li>
      </ul>
      <p>
        The date thus calculated is shown on requests with the text “By law,
        Liverpool City Council should normally have responded by...”.  Schools
        are a special case, which WhatDoTheyKnow displays differently.Since June
        2009, schools have “20 working days disregarding any working day which
        is not a school day, or 60 working days, whichever is first” (<a
        href="http://www.legislation.gov.uk/uksi/2009/1369/contents/made">FOI
        (Time for Compliance with Request) Regulations 2009</a>). WhatDoTheyKnow
        indicates on requests to schools that the 20 day deadline is only during
        term time, and shows them as definitely overdue after 60 working days
      </p>
      <p>
        If you’d like to know more, read the <a href="https://ico.org.uk/media/for-organisations/documents/1165/time-for-compliance-foia-guidance.pdf">detailed ICO guidance</a>.
        Meanwhile, remember that the law says authorities must respond
        <strong>promptly</strong>. That’s really what matters.
      </p>
    </dd>
    <dt id="public_interest_test">
      How do you reflect time extensions for public interest tests?
      <a href="#public_interest_test">#</a>
    </dt>
    <dd>
      <p>
        The Freedom of Information Act allows authorities to claim an
        <strong>indefinite time extension</strong> when applying a public
        interest test. As WhatDoTheyKnow doesn’t specifically handle such
        extensions we use the phrase “should normally have responded promptly
        by” when the 20 working day time is exceeded. Once 40 working days have
        elapsed we use much stronger wording as we consider that all requests
        should have received a response by that point.
      </p>
      <p>
        <a href="https://ico.org.uk/media/for-organisations/documents/1165/time-for-compliance-foia-guidance.pdf">
        Guidance from the Commissioner</a> suggests extensions beyond 40 working
        days may be acceptable in exceptional cases such as where a body is
        under extreme pressure due to a major incident or where a public
        interest test involves “exceptional levels of complexity”.
      </p>
      <p>
        The Freedom of Information (Scotland) Act does not allow such a public
        interest extension. WhatDoTheyKnow would like to see the law changed to
        either remove the extension from the UK Act, or to reintroduce an
        absolute time limit of 40 working days even with the extension (the
        House of Lords <a
        href="http://www.publicwhip.org.uk/division.php?date=2000-10-17&amp;number=1&amp;house=lords">
        voted to remove</a> provision
        for such a time limit during the initial passage of the UK Act through
        Parliament).
      </p>
    </dd>
    <dt id="large_file">
      How can I send a large file, which won’t go by email?
      <a href="#large_file">#</a>
    </dt>
    <dd>
      <ul>
        <li>
          Consider if it is reasonable to split your data into a number of
          files, perhaps one file per year of data for example, and then send a
          series of emails, with one attachment to each message.
        </li>
        <li>
          A plain text format may produce a smaller file size, and be easier for
          people to work with than a proprietary format.
        </li>
        <li>
          Compressing files into .zip format before sending them can help reduce
          file size.
        </li>
        <li>
          Instead of email, you can respond to a request directly from your web
          browser, including uploading a file. To do this, choose “respond to
          request” at the bottom of the request’s page. <a href="<%=
          help_contact_path %>">Contact us</a> if it is too big for even that
          (more than, say, 50Mb).
        </li>
      </ul>
    </dd>
    <dt id="names">
      Why do you publish the names of civil servants and the text of emails?
      <a href="#names">#</a>
    </dt>
    <dd>
      <p>
        We consider what officers or servants do in the course of their
        employment to be public information. We will only remove content in
        exceptional circumstances: see our <a href="<%=
        help_privacy_path(:anchor => 'takedown') %>">take down policy</a>.
      </p>
    </dd>

    <dt id="mobiles">
      Do you publish email addresses or mobile phone numbers?
      <a href="#mobiles">#</a>
    </dt>
    <dd>
      <p>
        To protect their owners from spam, we automatically remove most emails
        and some mobile numbers from responses to requests.  Please <a href="<%=
        help_contact_path %>">contact us</a> if you’d like us to remove one our
        system has missed. For technical reasons we don’t always manage to
        remove them from attachments, such as certain PDFs.
      </p>
      <p>
        Removing email addresses also helps keep correspondence on the site. To
        reply to a message from a public body, or request an internal review,
        you don’t need to know the address they have provided but can use the
        relevant options under “Actions”.
      </p>
      <p>
        If you need to know what an address was that we’ve removed, please <a
        href="/help/contact">get in touch with us</a>. Occasionally, an email
        address forms an important part of a response and we will post it up in
        an annotation. Our volunteer team doesn’t have the capacity to deal with
        large numbers of requests to reveal email addresses so currently our
        service is not suited to requests for email contact details.
      </p>
    </dd>
    <dt id="copyright">
      What is your policy on copyright of documents?
      <a href="#copyright">#</a>
    </dt>
    <dd>
      <p>
        The UK’s Freedom of Information law is “applicant blind”, so anyone in
        the world can request the same document and get a copy of it. If you
        think our making a document available on the Internet infringes your
        copyright, you may <a href="<%= help_contact_path %>">contact us</a> and
        ask us to take it down.
      </p>
      <p>
        However, it’s our belief that by publishing responses, you are saving
        taxpayers’ money by preventing duplicate requests, and you’re also
        fostering good public relations, so we always advise keeping it online.
        For more information please refer to the Copyright section of our
        <a href="<%= help_how_path %>">‘How we run
        WhatDoTheyKnow’</a> page.
      </p>
    </dd>

    <dt id="allowed_responses">
      My response to an old request on WhatDoTheyKnow has been bounced!
      <a href="#allowed_responses">#</a>
    </dt>
    <dd>
      <p>
        After three months of inactivity, WhatDoTheyKnow limits who can respond
        to a request to stop spammers targeting old requests. At that point, the
        request can only be responded to by someone who’s from the authority.
        After six months, the request is closed to responses from anyone. If you
        need an old request to be re-opened so that you can respond to it,
        please <a href="<%= help_contact_path %>"> contact us</a>.
      </p>
    </dd>
  </dl>
  <p>
    <strong>If you haven’t already</strong>, read <a
    href="<%= help_about_path %>">more about WhatDoTheyKnow, its aims and
    history </a> --&gt;
    <br><strong>Otherwise</strong>, the <a href="<%= help_credits_path %>">
    credits</a> or the <a href="<%= help_api_path %>">programmers API</a> --&gt;
  </p>
  <div id="hash_link_padding"></div>
</div>
