﻿<% @title = "Cwestiynau Swyddog Rhyddid Gwybodaeth" %>
<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a></h1>
  <dl>
    <dt id="top">
    Rwyf newydd gyrraedd yma o waelod cais RhG, beth sy’n digwydd? <a href="#top">#</a>
    </dt>
    <dd>
    <p>
      Mae WhatDoTheyKnow yn wasanaeth sy’n cael ei rhedeg gan elusen. Mae’n helpu aelodau cyffredin o’r cyhoedd wneud ceisiadau Rhyddid Gwybodaeth, ac yn ei wneud yn hawdd iddynt olrhain a rhannu’r ymatebion.
    </p>
    <p>
      Fe wnaed y cais Rhyddid Gwybodaeth a gawsoch gan rywun sy’n defnyddio WhatDoTheyKnow. Gallwch ateb y cais fel y byddech yn ateb unrhyw gais arall gan unigolyn. Yr unig wahaniaeth yw y bydd eich ymateb yn cael ei gyhoeddi yn awtomatig ar y Rhyngrwyd.
    </p>
    <p>
      Os oes gennych pryderon am breifatrwydd neu rai eraill, darllenwch yr atebion isod. Efallai yr hoffech ddarllen y <a href="http://www.whatdotheyknow.com/help/about">cyflwyniad i WhatDoTheyKnow</a> i ddarganfod mwy am yr hyn y mae’r wefan yn ei gwneud o safbwynt defnyddiwr. Gallwch hefyd chwilio’r wefan i ddod o hyd i’r awdurdod yr ydych yn gweithio iddo, a gweld statws unrhyw geisiadau a wnaed drwy ddefnyddio’r wefan.
    </p>
    <p>
      Yn olaf, rydym yn croesawu sylwadau a syniadau gan swyddogion Rhyddid Gwybodaeth, <a href="<%= help_contact_path %>">cysylltwch â ni</a> os gwelwch yn dda.
    </p>
    </dd>
  </dl>
  <dl>
    <dt id="responses">
    Pam ydych chi’n cyhoeddi ymatebion i geisiadau Rhyddid Gwybodaeth? <a href="#responses">#</a>
    </dt>
    <dd>
    Rydym yn meddwl bod llawer o fudd iddo. Yn bennaf, bydd yn annog y cyhoedd i gymryd diddordeb yng ngwaith y llywodraeth ac i gymryd rhan. Rydym hefyd yn gobeithio y bydd yn lleihau’r nifer o geisiadau ail-adroddus ar unrhyw bwnc y bydd corff cyhoeddus ei dderbyn. O ystyried bod ymatebion Rhyddid Gwybodaeth yn cynnwys gwybodaeth icyhoeddus, y gallai unrhyw un yn hawdd gwneud cais amdani eto gan yr awdurdod cyhoeddus, rydym yn credu nad oes unrhyw reswm dros beidio â’u cyhoeddi’n eang.
    </dd>
    <dt id="realpeople">
    Ydy’r bobl sy’n gwneud ceisiadau yn bobl go iawn? <a href="http://www.whatdotheyknow.com/help/officers#realpeople">#</a>
    </dt>
    <dd>
    Ydyn. At ddibenion cadw golwg ar yr ymatebion byddwn yn defnyddio cyfeiriadau e-bost a gynhyrchir gan gyfrifiadur ar gyfer pob cais. Fodd bynnag, cyn y gallant anfon cais, rhaid i bob defnyddiwr gofrestru ar y wefan gyda chyfeiriad e-bost unigryw y byddwn wedyn yn ei ddilysu. Gallwch chwilio y wefan hon a dod o hyd i dudalen rhestru’r holl geisiadau y mae pob person wedi ei wneud.
    </dd>
    <dt id="email_only">
    Dydy cyfeiriad e-bost ddim yn gyfeiriad digonol i gais RhG! <a href="#email_only">#</a>
    </dt>
    <dd>
    Ydy mae. Mae’r<a href="http://www.whatdotheyknow.com/request/1142/response/2894/attach/5/20080806100741260.pdf">llythyr hwn gan Swyddfa’r Comisiynydd Gwybodaeth i Gyngor Dosbarth Rother</a> yn rhoi arweiniad ar y mater, yn benodol yng nghyd-destun ceisiadau a wneir drwy WhatDoTheyKnow.
    </dd>
    <dt id="vexatious">
    Ydych chi ddim yn gwneud llawer o geisiadau blinderus? <a href="#vexatious">#</a>
    </dt>
  </dl>
  <p>
    Dydy WhatDoTheyKnow ddim yn gwneud unrhyw geisiadau. Rydym yn anfon ceisiadau ar ran ein defnyddwyr, sydd yn bobl go iawn sy’n gwneud y ceisiadau.
  </p>
  <p>
    Edrych arno fel hyn - pe bai llawer o bobl yn gwneud ceisiadau gan ddefnyddio cyfeiriadau e-bost Hotmail gwahanol, fyddech chi ddim yn meddwl bod Microsoft oedd yn gwneud ceisiadau blinderus. Mae’n union yr un fath os bydd llawer o geisiadau yn cael eu gwneud drwy WhatDoTheyKnow. At hynny, gan fod yr holl geisiadau yn cael eu cyhoeddus mae’n llawer haws i chi weld a yw un o’n defnyddwyr yn gwneud ceisiadau blinderus.
  </p>
  <p>
    Os nad yw hynny’n ddigon i chi, mae’r <a href="http://www.whatdotheyknow.com/request/1142/response/2894/attach/5/20080806100741260.pdf">llythyr gan Swyddfa’r Comisiynydd Gwybodaeth i Gyngor Dosbarth Rother</a> yn rhoi rhywfaint o arweiniad ar y mater.
  </p>
  <dl>
    <dt id="spam_problems">
    Gallaf weld cais ar WhatDoTheyKnow, ond chawsom ni mohono erioed drwy e-bost!<a href="#spam_problems">#</a>
    </dt>
  </dl>
  <p>
    Os yw cais yn ymddangos ar y wefan, yna rydym wedi ceisio ei anfon at yr awdurdod drwy e-bost. Bydd unrhyw negeseuon am fethiant i gyflwyno cais yn ymddangos yn awtomatig ar y wefan. Gallwch weld y cyfeiriad yr ydym yn ei ddefnyddio gyda’r ddolen "Gweld cyfeiriad e-bost RhG" sy’n ymddangos ar y dudalen ar gyfer yr awdurdod. <a href="<%= help_contact_path %>">Cysylltwch â ni</a> os oes cyfeiriad gwell y gallwn ei ddefnyddio.
  </p>
  <p>
    Weithiau fydd ceisiadau ddim yn cael eu cyflwyno oherwydd eu bod yn cael eu symud yn dawel gan "hidlyddion sbam" adran TG yr awdurdod. Gall awdurdodau wneud yn siwr na fydd hyn yn digwydd drwy ofyn i’w hadrannau TG i roi e-byst gan <strong>@whatdotheyknow.com</strong> ar "restr wen". Os byddwch yn <a href="<%= help_contact_path %>">gofyn i ni</a>, byddwn yn ailanfon unrhyw gais, a/ neu’n rhoi manylion technegol ei gyflwyno fel y gall adran TG fynd ar drywydd yr hyn a ddigwyddodd i’r neges.
  </p>
  <p>
    Yn olaf, gallwch ymateb i unrhyw gais o’ch porwr gwe, heb fod angen unrhyw e-bost, gan ddefnyddio’r ddolen "ymateb i gais" ar waelod pob tudalen gais.
  </p>
  <dl>
    <dt id="days">
    Sut ydych chi’n cyfrifo’r dyddiad cau a ddangosir ar dudalennau gais?<a href="#days">#</a>
    </dt>
  </dl>
  <p>
    Mae’r Ddeddf Rhyddid Gwybodaeth yn dweud:
  </p>
  <blockquote>
    <p>
      Rhaid i awdurdod cyhoeddus gydymffurfio ag adran 1 (1) <strong>yn brydlon</strong> ac yn sicr heb fod yn hwyrach na’r ugeinfed diwrnod gwaith ar ôl y dyddiad derbyn.
    </p>
  </blockquote>
  <p>
    Mae manylion ’nerdy’ o sut yn union y penwythnosau yn cael eu cyfrif, a a beth fydd yn digwydd os bydd y cais yn cyrraedd y tu allan i oriau swyddfa, yn fanylion yn unig. Yr hyn sy’n bwysig yma yw bod y gyfraith yn dweud bod rhaid i awdurdodau ymateb yn <strong>brydlon.</strong>
  </p>
  <p>
    Os oes gennych reswm da pam bod cais yn mynd i gymryd peth amser i’w brosesu, mae’r rhai sy’n gwneud cais yn gwerthfawogi derbyn e-bost cyflym gyda brawddeg neu ddwy yn dweud beth sy’n digwydd.
  </p>
  <p>
    Mae Swyddogion Rhyddid Gwybodaeth yn aml yn gorfod gwneud llawer o <strong>waith caled</strong> i ateb ceisiadau, ac mae hyn o olwg y cyhoedd. Rydym yn credu y byddai’n helpu pawb i gael mwy o’r cymhlethdod yn weladwy.
  </p>
  <dl>
    <dt id="days2">
    Ond mewn gwirionedd, sut ydych chi’n cyfrifo’r terfyn amser?<a href="#days2">#</a>
    </dt>
  </dl>
  <p>
    Darllenwch yr ateb i’r cwestiwn blaenorol yn gyntaf. Yn gyfreithiol, mae’n rhaid i awdurdodau ymateb yn <strong>brydlon</strong> i geisiadau Rhyddid Gwybodaeth. Os byddant yn methu â gwneud hynny, mae’n well os ydynt yn dangos y gwaith caled y maent yn ei wneud trwy egluro yr hyn sy’n cymryd yr amser ychwanegol.
  </p>
  <p>
    Wedi dweud hynny, mae WhatDoTheyKnow yn dangos y dyddiad cau cyfreithiol uchaf ar gyfer ymateb ar bob cais. Dyma sut rydym yn ei gyfrifo.
  </p>
  <ul>
    <li>Os bydd y diwrnod yr ydym yn cyflwyno’r cais drwy e-bost yn ddiwrnod gwaith, rydym yn cyfrif y diwrnod hwnnw i fod yn "ddiwrnod sero", hyd yn oed os cafodd ei gyflwyno yn hwyr yn y nos. Mae diwrnodau yn gorffen am hanner nos. Yna byddwn yn cyfrif y diwrnod gwaith nesaf fel "un diwrnod", ac yn y blaen hyd at <strong>20 diwrnod gwaith.</strong>
    </li>
    <li>Os bydd y diwrnod y cafodd yr e-bost ei gyflwyno yn ddiwrnod na fydd pobl yn gweithio, rydym yn cyfrif y diwrnod gwaith nesaf fel "un diwrnod". Cyflwyno yw cyflwyno, hyd yn oed os bydd yn digwydd ar y penwythnos. Mae rhai awdurdodau <a href="http://www.whatdotheyknow.com/request/policy_regarding_body_scans#incoming-1100">yn anghytuno â hyn</a> , mae ein cyfreithiwr yn anghytuno â hwy.</li>
    <li>Rydym yn annog pobl sy’n gwneud cais i nodi pan fyddant wedi <strong>egluro</strong> eu cais fel y bydd y cloc yn cael ei ailosod, ond weithiau maent yn cael hyn yn anghywir. Os ydych yn gweld problem gyda chais arbennig, gadewch i ni wybod a byddwn yn ei drwsio.
    </li>
  </ul>
  <p>
    Dangosir y dyddiad a gyfrifir felly ar geisiadau gyda’r testun "Yn ôl y gyfraith, dylai’r Cyngor Dinas Lerpwl fel arfer wedi ymateb erbyn...". Dim ond un achos sy’n eithriadol: gweler y cwestiwn nesaf am y <a href="#public_interest_test">estyniadau amser prawf buddiant cyhoeddus</a> .
  </p>
  <p>
    Mae ysgolion hefyd yn achos arbennig, y mae WhatDoTheyKnow yn ei arddangos yn wahanol.
  </p>
  <ul>
    <li>Ers mis Mehefin 2009, mae gan <strong>ysgolion</strong> "20 diwrnod gwaith gan anwybyddu unrhyw ddiwrnod gwaith nad yw’n ddiwrnod ysgol, neu 60 diwrnod gwaith, pa un bynnag yw’r cyntaf" ( <a href="http://www.legislation.gov.uk/uksi/2009/1369/contents/made">Rhyddid Gwybodaeth (Amser ar gyfer Cydymffurfio â Chais) 2009</a> ). Mae WhatDoTheyKnow yn nodi ar geisiadau i ysgolion fod y terfyn o 20 diwrnod yn berthnasol yn unig yn ystod y tymor, ac yn dangos bod y ceisiadau’n bendant yn hwyr ar ôl 60 diwrnod gwaith.</li>
  </ul>
  <p>
    Os ydych wir eisiau gwybod y manylion technegol, darllenwch <a href="https://ico.org.uk/media/for-organisations/documents/1165/time-for-compliance-foia-guidance.pdf">canllawiau manwl Swyddfa’r Comisiynydd Gwybodaeth</a> . Yn y cyfamser, cofiwch fod y gyfraith yn dweud bod rhaid i awdurdodau ymateb yn <strong>brydlon.</strong> Dyna sy wir yn bwysig.
  </p>
  <dl>
    <dt id="public_interest_test">
    Sut yr ydych yn adlewyrchu estyniadau amser ar gyfer profion budd y cyhoedd?<a href="#public_interest_test">#</a>
    </dt>
  </dl>
  <p>
    Mae’r Ddeddf Rhyddid Gwybodaeth yn gadael i awdurdodau wneud cais am estyniad amser amhenodol wrth ystyried <strong>prawf budd y cyhoedd.</strong> Dywed Canllawiau’r Comisiynydd Gwybodaeth na ddylai gael ei ddefnyddio ond mewn achosion "eithriadol o gymhleth" ( <a href="https://ico.org.uk/media/for-organisations/documents/1165/time-for-compliance-foia-guidance.pdf">Canllawiau Arfer Da Rhyddid Gwybodaeth Rhif 4</a> ). Nid WhatDoTheyKnow yn trin yr achos hwn mewn ffordd arbennig, a dyna pam rydym yn defnyddio yr ymadrodd "Fel arfer, dylai ... wedi ymateb erbyn" pan eir heibio i’r terfyn 20 diwrnod gwaith.
  </p>
  <p>
    Mae’r un canllawiau yn dweud, hyd yn oed mewn achosion eithriadol o gymhleth, na ddylai yr un cais Rhyddid Gwybodaeth gymryd mwy na <strong>40 diwrnod gwaith</strong> i ateb. Mae WhatDoTheyKnow yn arddangos ceisiadau sy mor hwyr â hynny gyda geiriad cryfach i ddangos eu bod yn bendant yn hwyr.
  </p>
  <p>
    Nid yw Deddf Rhyddid Gwybodaeth (Yr Alban) yn caniatáu estyniad "er budd y cyhoedd" o’r fath. Byddai WhatDoTheyKnow yn hoffi gweld y gyfraith yn cael ei newid naill ai i gael gwared ar y estyniad o Ddeddf y Deyrnas Gyfunol, neu i ailgyflwyno terfyn amser absoliwt o 40 diwrnod gwaith, hyd yn oed gyda’r estyniad ( <a href="http://www.publicwhip.org.uk/division.php?date=2000-10-17&amp;number=1&amp;house=lords">Pleidleisiodd</a> Tŷ’r Arglwyddi i gael gwared o’r ddarpariaeth ar gyfer y fath terfyn amser yn ystod taith gychwynnol y Ddeddf drwy’r Senedd y DU).
  </p>
  <dl>
    <dt id="large_file">
    Sut y gallaf anfon ffeil fawr fydd ddim yn mynd drwy e-bost?<a href="#large_file">#</a>
    </dt>
    <dd>
    Yn hytrach nag e-bost, gallwch ymateb i gais yn uniongyrchol o’ch porwr gwe, gan gynnwys lanlwytho ffeil. I wneud hyn, dewiswch "ymateb i gais" ar waelod tudalen y cais. <a href="<%= help_contact_path %>">Cysylltwch â ni</a> os yw’n rhy fawr ar gyfer hwnnw hyd yn oed (mwy na, dyweder, 50Mb).
    </dd>
    <dt id="names">
    Pam ydych chi’n cyhoeddi enwau’r gweision sifil a thestun e-byst? <a href="#names">#</a>
    </dt>
    <dd>
    Rydym yn ystyried beth mae swyddogion neu weision yn ei wneud yn ystod eu cyflogaeth i fod yn wybodaeth gyhoeddus. Byddwn ond yn dileu cynnwys o dan amgylchiadau eithriadol: gweler ein <a href="<%= help_privacy_path(anchor: 'takedown') %>">polisi cymryd i lawr</a> .
    </dd>
    <dt id="mobiles">
    A ydych yn cyhoeddi cyfeiriadau e-bost neu rifau ffôn symudol? <a href="#mobiles">#</a>
    </dt>
  </dl>
  <p>
    Er mwyn atal spam, rydym yn cael gwared yn awtomatig o’r rhan fwyaf o gyfeiriadau e-bost a rhai rhifau ffôn symudol o’r ymatebion i geisiadau. <a href="<%= help_contact_path %>">Cysylltwch â ni</a> os ydym wedi methu un. Am resymau technegol nid ydym bob amser yn eu tynnu o’r atodiadau, fel ffeiliau PDF penodol.
  </p>
  <p>
    Os bydd angen i chi wybod beth oedd y cyfeiriad rydym wedi symud, <a href="<%= help_contact_path %>">cysylltwch â ni</a> os gwelwch yn dda. O bryd i’w gilydd, bydd cyfeiriad e-bost yn ffurfio rhan bwysig o ymateb a byddwn yn ei roi ar ffurf aneglur mewn anodiant.
  </p>
  <dl>
    <dt id="copyright">
    <a name="commercial" id="commercial"></a> Beth yw eich polisi ar hawlfraint dogfennau?<a href="http://www.whatdotheyknow.com/help/officers#copyright">#</a>
    </dt>
    <dd>
    Mae ein Deddf Rhyddid Gwybodaeth yn gyfraith "ddall i’r ceisydd", felly gall unrhyw un yn y byd wneud cais am yr un ddogfen a chael copi ohoni. Os ydych yn credu ein bod yn torri hawlfraint drwy roi dogfen ar y rhyngrwyd, gallwch <a href="<%= help_contact_path %>">gysylltu â ni</a> a gofyn i ni ei thynnu i lawr. Fodd bynnag, er mwyn arbed arian trethdalwyr drwy atal ceisiadau dyblyg, ac ar gyfer cysylltiadau cyhoeddus da, byddem yn eich cynghori i beidio â gwneud hynny.
    </dd>
  </dl>
  <p>
    <strong>Os nad ydych wedi eisoes,</strong> darllenwch <a href="<%= help_about_path %>">y cyflwyniad</a> -&gt;<br>
    <strong>Fel arall,</strong> y <a href="<%= help_credits_path %>">credydau</a> neu’r <a href="<%= help_api_path %>">API rhaglenwyr</a> -&gt;
  </p>

  <%= render partial: 'history' %>

  <div id="hash_link_padding"></div>
</div>
