<% @title = "Making requests" %>
<%= render partial: 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>
  <strong>Never made a request before?</strong> Follow our
  <a href="https://www.mysociety.org/2014/08/15/how-to-make-a-freedom-of-information-request-with-whatdotheyknow/?utm_source=whatdotheyknow.com&utm_medium=link"
  title="How to make a Freedom of Information request with WhatDoTheyKnow">beginners’ guide.</a>
  <dl>
    <dt id="which_authority">
      I&rsquo;m not sure which authority to make my request to, how can I find
      out?
      <a href="#which_authority">#</a>
    </dt>
    <dd>
      <p>Understanding the structure of the government and finding the information you need can be tricky. 
      Here are a few tips to help you:
      </p>
      <ul>
        <li>
          Browse or <a href="<%= search_redirect_path %>">search</a> WhatDoTheyKnow for similar requests to 
          yours. Check who they were sent to, and if they were successful. If they were, that's 
          probably the right authority for your request.
        </li>
        <li>
          It&rsquo;s always a good idea to double-check. When you&rsquo;ve found an
          authority that might have the information, use the
          &ldquo;home page&rdquo; link on the right hand side of their page. This 
          will take you to their website where you can see what their responsibilities are.
        </li>
        <li>
          You can also contact the authority by phone or email to ask if they
          have the kind of information you&rsquo;re looking for.
        </li>
        <li>
          But don&rsquo;t worry too much about finding the right authority. If you make 
          a mistake, they should tell you who to contact instead.
        </li>
        <li>
          If you have a tricky case, please
          <a href="<%= help_contact_path %>">contact us</a>. We have a
          great team of volunteer administrators who are ready to help you.
        </li>
      </ul>
    </dd>
    <dt id="missing_body">
      You&rsquo;re missing the public authority that I want to ask!
      <a href="#missing_body">#</a>
    </dt>
    <dd>
      <p>
        Please <a href="<%= new_change_request_path %>">contact us</a> with the
        name of the public authority and, if possible, their contact email
        address for Freedom of Information requests.
      </p>
      <p>
        If you&rsquo;d like to help add a whole category of public authorities
        to the site, we&rsquo;d love to hear from you.
      </p>
    </dd>
    <dt id="authorities">
      Why do you include some authorities that aren’t formally subject to laws
      on access to public information?
      <a href="#authorities">#</a>
    </dt>
    <dd>
      <p>
        WhatDoTheyKnow not only provides a simple way to make Freedom of Information
        requests, but also actively campaigns to expand the scope of Freedom of 
        Information law to cover more public bodies.
      </p>
      <p>
        Via the site, you can make requests for information to a range of
        organisations:
      </p>
      <ul>
        <li>
          Those subject to the Freedom of Information Act (FOI).
        </li>
        <li>
          Those subject to The Environmental Information Regulations (EIR). This group is broader 
          and includes bodies subject to FOI, as well as other organizations with a public 
          role, such as water companies.
        </li>
        <li>
          Those subject to access to information law in Scotland.
        </li>
        <li>
          Organisations which voluntarily comply with FOI even though
          they don't have to.
        </li>
        <li>
          Those which are not subject to the Act
          <a href="https://www.whatdotheyknow.com/body/list/foi_no">but which we
          think should be</a>, for example because they have significant public
          responsibilities. These include those who enforce rules,
          choose people for public roles, or give out a lot of public money.
        </li>
      </ul>
    </dd>
    <dt id="focused">
      Why must I keep my request focused?
      <a href="#focused">#</a>
    </dt>
    <dd>
      <p>
        A Freedom of Information request is a request for information or data. If the authority has the information, 
        the law usually requires them to share it. 
      </p>
      <p>
        You can get a quicker response by making your request short, clear, and to the point. Only include what you 
        really need. This helps the authority to know exactly what you're asking for.
      </p>
      <p>
        You should <i>not</i> include:
      </p>
      <ul>
        <li>
          arguments about your cause
        </li>
        <li>
          statements that could defame or insult others
        </li>
        <li>
          questions or requests for opinions, instead of asking for specific information
        </li>
      </ul>
      <p>
        The Freedom of Information process isn't for general discussion, sharing background details, 
        or debating what is right and wrong. It just lets you ask for documents or data that the 
        authority has.
      </p>
      <p>
        To get better results, set out your request properly. Asking "why are you 
        doing X?" or "how do you feel about the results of doing X?" might not be seen as a valid FOI request.
        Instead, you could ask for "copies of all policies and procedures regarding X." If you include extra
        information, we may have to remove your request to avoid legal issues, which is not good for 
        you or us.
      </p>
    </dd>
    <dt id="responsible">
      How can I make responsible and effective FOI requests?
      <a href="#responsible">#</a>
    </dt>
    <dd>
      <p>
        We want to help you make good FOI requests because it's better for everyone.
      </p>
      <ul>
        <li>
          It’s better for you, because you get faster, higher quality results.
        </li>
        <li>
          It’s better for the often overloaded staff who receive your requests,
          because it makes their jobs easier.
        </li>
        <li>
          It’s better for us, because we rely on the goodwill of our users
          and of authorities to be able to keep the site running.
        </li>
        <li>
          It’s better for our rights to information as a whole. If
          requests become too much of a burden, there’s a greater chance of
          laws being passed that restrict our access to information in the
          future.
        </li>
      </ul>
      <p>
        Here are the ways you can optimise your request:
      </p>
      <ul>
        <li>
          <strong>Don't make requests for information which is already published:</strong>
          Search WhatDoTheyKnow and the public authority's website to check the material you want isn't already available.
        </li>
        <li>
          <strong>Send it to the right place:</strong>
          Make sure your request goes to the right place. We know this can be hard. If you're not sure, 
          send your request to the body you think is most likely to have the information. They should 
          help guide you to the right place if you get it wrong. If you need more help, you can 
          <a href="https://www.whatdotheyknow.com/help/contact">ask the WhatDoTheyKnow team</a> for help.
        </li>
        <li>
          <p>
            <strong>Send targeted requests:</strong>
            You might want to ask all local councils or every public body in the country for information, but it's good 
            to think about it first. These bulk requests can give you a lot of data and take up a lot of time for the 
            staff to handle.
          </p>
          <p>
            Will you actually be able to handle that amount of data? Think about if you could get the information you need 
            by asking a few authorities instead. For example, you could ask your local council and a few others that are 
            similar.
          </p>
          <p>
            Is the information may be held centrally by a Government department. If it is you might be able to make a single 
            request, rather than a large number.
          </p>
        </li>
        <li>
          <strong>Word your question carefully:</strong>
          It helps to say what format you want the response in and ask for exactly the data you need. If you don't, different 
          places might give you answers in different formats, making it hard to compare them.
        </li>
        <li>
          <strong>Avoid acronyms and special terms:</strong> Acronyms and special terms that make sense

 to you might 
          not be clear to the people reading your request. It's better to spell out acronyms and explain technical terms. 
          This makes sure everything is easy to understand.
        </li>
        <li>
          <strong>Fine-tune your request:</strong>  Make the right request the first time so you won't need to ask for 
          more information later. Think about what you will do with the information and if you need extra details to 
          understand it better. For example, if you ask for the number of potholes fixed this year, it might help to 
          also ask for the numbers from past years to compare.
        </li>
        <li>
          <strong>But don’t ask for too much:</strong> One of
          the reasons that authorities can turn down a request is that it would
          take too long and cost too much to answer. Only ask for what you need. 
          Limiting your request to information for a specific time period is a good 
          approach. It can stop your request being refused for being too
          broad.
        </li>
        <li>
          <strong>Be polite:</strong> The FOI officer is the person who helps you get the information you need. 
          They are like your helper inside the public body and usually want to assist you. They will be even 
          more willing to help if you treat them politely.
        </li>
        <li>
          <strong>Remember it’s all going online:</strong> Don't include any defamatory claims in your request, 
          such as allegations. This causes serious problems for us. It can also put you at risk of committing 
          libel. Your request could be deemed vexatious, which means that you won’t receive a response.
        </li>
        <li>
          <strong>Consider asking for proactive publication:</strong>
          To avoid making the same request in the future, you can ask the public body to start publishing the 
          information on their website. Sometimes, the law around datasets applies, public bodies have to regularly update and 
          share the information.
        </li>
      </ul>
      <p>
        Here’s some further reading with more detail on how to make effective
        FOI requests:
      </p>
      <ul>
        <li>
          <a href="http://www.foiman.com/foiguide1">FOI Man&rsquo;s Ten Top Tips</a>
        </li>
        <li>
          The Scottish Information Commissioner’s
          <a href="https://www.foi.scot/how-do-i-ask">
          Tips for requesting information</a>.
        </li>
      </ul>
    </dd>
    <dt id="campaigning">
      Can I use your site for campaigning?
      <a href="#campaigning">#</a>
    </dt>
    <dd>
      <p>
        Freedom of Information is a powerful tool if you need information to support an argument or campaign.
      </p>
      <ul>
        <li>
          Although we can’t help you run your campaign, we encourage you to use
          WhatDoTheyKnow to get the information you need. You are welcome to link
          to your campaign from this site in an annotation to your request (you
          can make annotations after submitting the request).
        </li>
        <li>
          Some campaigners have asked their supporters to make requests for
          information via WhatDoTheyKnow using the
          <a href="https://www.mysociety.org/2016/12/19/alaveteli-for-campaigners-how-to-create-pre-written-requests-for-your-supporters/?utm_source=whatdotheyknow.com&utm_medium=link">
          pre-written
          request tool</a>. There is guidance on how to create pre-written requests
          <a href="https://www.mysociety.org/2016/12/19/alaveteli-for-campaigners-how-to-create-pre-written-requests-for-your-supporters/?utm_source=whatdotheyknow.com&utm_medium=link">
          here</a>. You can use annotations to link between requests; this is useful
          if your request builds on a response that someone else receives, or is
          for more a more up to date version of information which has already been released.
        </li>
        <li>
          You may find it useful to contact others who are campaigning
          on the same issue as you are. You can send messages to other users. Click on any user’s name to see their profile, and use the link to contact them.
        </li>
      </ul>
    </dd>
    <dt id="fees">
      Does it cost me anything to make a request?
      <a href="#fees">#</a>
    </dt>
    <dd>
      <p>
        <strong>Making an FOI request is nearly always free.</strong>
      </p>
      <p>
        Authorities often include standardised text in their acknowledgement
        messages saying they “may” charge a fee, which, understandably, can be a
        little frightening. Ignore such notices. Most of the things that authorities 
        can charge for don’t apply to requests made via WhatDoTheyKnow. You will hardly 
        ever be asked for money. If you are, you would always have the chance to say no. 
        A public body can only charge you if you have agreed in advance to pay. See 
        <a href="https://ico.org.uk/for-organisations/guide-to-freedom-of-information/receiving-a-request/#15">more details</a>
        from the ICO.
      </p>
      <p>
        Sometimes an authority will refuse your request, saying that it would cost them too much to answer.
        <a href="http://www.legislation.gov.uk/uksi/2004/3244/made"> The limits</a>
        are £600 (for central government) or £450 (for all other public
        authorities).  At this point you can refine your request:
        for example, it could be cheaper for an authority to tell you the
        amount spent on advertising in the past year than in the past ten years.
      </p>
    </dd>
    <dt id="format">
      Will I get the information in the format I want?
      <a href="#format">#</a>
    </dt>
    <dd>
      <p>
        If you ask for the information to be provided in a particular format, the public authority has to do so, so long as
        it is reasonably practicable. If you want to receive the information in a specific format, you must 
        ask for this when you make your request.
      </p>
      <p>
        You might want to explicitly request data in a reusable format such as a
        .csv file. This helps prevent the response being provided as images, or 
        screenshots of spreadsheets that are harder to extract data from.
      </p>
      <p>
        There’s no need to explicitly request a response ‘via email’. By making your request via WhatDoTheyKnow, 
        you are already making this clear.
      </p>
    </dd>
    <dt id="quickly_response">
      How quickly will I get a response?
      <a href="#quickly_response">#</a>
    </dt>
    <dd>
      <p>
        Public authorities must respond <i>“promptly”</i> to requests.
        This means that you should expect a response as soon as
        is practical for the authority to answer, taking into consideration
        the amount of information you have asked for, their
        workload, and the staff available to deal with your request.
      </p>
      <p>
        The law states that they must respond within 20 working
        days, with a couple of exceptions: if you had to clarify your request,
        or your request is to a school, or in one or two other scenarios, then
        they may have more time — <a
        href="https://www.whatdotheyknow.com/help/officers#days">you can read
        more about timescales here</a>.
      </p>
      <p>
        We will automatically send you an email reminder if you don’t
        get a response within the time limit. You can then send the public
        authority a message to prompt them to reply.
      </p>
    </dd>
    <dt id="no_response">
      What if I don’t get a response?
      <a href="#no_response">#</a>
    </dt>
    <dd>
      <p>
        You can read more about what to do if you don't get a response at all on our <a href="<%= help_general_path(template: 'no_response') %>">
        dedicated help page</a>.
      </p>
    </dd>
    <dt id="not_satisfied">
      What if I&rsquo;m not satisfied with the response?
      <a href="#not_satisfied">#</a>
    </dt>
    <dd>
      If you didn&rsquo;t get the information you asked for, or you
      didn&rsquo;t get it in time, then read our page &lsquo;<a
      href="<%= help_general_path(:template => 'unhappy') %>">Unhappy about the
      response you got?</a>&rsquo;.
    </dd>
    <dt id="reuse">
      It says I can&rsquo;t re-use the information I got!
      <a href="#reuse">#</a>
    </dt>
    <dd>
      <p>
        Authorities often add legal boilerplate citing the


        “<a href="http://www.opsi.gov.uk/si/si2005/20051515">Re-Use of Public Sector
        Information Regulations 2005</a>”. They also sometimes put copyright
        notices on material.
      </p>
      <p>
        If the information you have received is Crown Copyright then you are able to
        reproduce it under the
        <a href="http://www.nationalarchives.gov.uk/information-management/government-licensing/about-the-ogl.htm">Open
        Government Licence</a> but there are some conditions — check that link for
        more details.
      </p>
    </dd>
    <dt id="ico_help">
      Can you get into the details about the process of making requests?
      <a href="#ico_help">#</a>
    </dt>
    <dd>
      <p>
        Have a look at the
        <a href="https://ico.org.uk/for-the-public/official-information/">
        access to official information</a> pages on the Information
        Commissioner&rsquo;s website.
      </p>
      <p>
        If you&rsquo;re requesting information from a Scottish public authority,
        the process is very similar, although there are differences around time
        limits for compliance.
        See the
        <a href="https://www.foi.scot/your-rights">
        Scottish Information Commissioner&rsquo;s guidance</a> for details.
      </p>
    </dd>
    <dt id="data_protection">
      Can I request information about myself?
      <a href="#data_protection">#</a>
    </dt>
    <dd>
      <p>
        No. If you want to access information that a public
        authority holds about you, you need to make a Subject Access request in private.
      </p>
      <p>
        We don't allow subject access requests to be made using WhatDoTheyKnow.
        <a href="https://ico.org.uk/your-data-matters/your-right-to-get-copies-of-your-data/">
        The Information Commissioner’s website</a> provides advice on how to make a
        Subject Access request.
      </p>
      <p>
        If you see that somebody has included personal information in a request, please 
        <a href="<%= help_contact_path %>">
        contact us</a> so that we can remove it.
      </p>
    </dd>
    <dt id="data_protection_deceased_persons">
      Can I request information about a deceased person?
      <a href="#data_protection_deceased_persons">#</a>
    </dt>
    <dd>
      <p>
        When seeking information relating to a deceased person please
        consider if a Freedom of Information request is
        appropriate. Think about the potential impacts of making the request,
        and receiving a response, in public.
      </p>
      <p>
        WhatDoTheyKnow is only for making requests for information which anyone
        could expect to be given. There are laws, and
        procedures, which give some people special rights to information, 
        such as the
        <a href="https://www.nhs.uk/common-health-questions/nhs-services-and-treatments/can-i-access-the-medical-records-health-records-of-someone-who-has-died/"
        title="NHS England guidance on the Access to Health Records Act 1990">
        Access to Health Records Act 1990</a> and the
        <a href="https://www.gov.uk/guidance/request-records-of-deceased-service-personnel"
        title="MoD Guidance: Request records of deceased service personnel">
        Ministry of Defence procedure for accessing records of deceased service
        personnel</a>. If you have a special right to the
        information, your request should be made directly, and not via WhatDoTheyKnow.
      </p>
      <p>
        If you think there is information about a deceased person that we
        should remove, please refer to our
        <%= link_to 'policy', help_removing_information_path(:anchor => 'compassionate_grounds') %>
        , and <%= link_to 'contact us', help_contact_path %> with any queries.
      </p>
    </dd>
    <dt id="private_requests">
      I&rsquo;d like to keep my request secret! (At least until I publish my story)
      <a href="#private_requests">#</a>
    </dt>
    <dd>
      <p>
        WhatDoTheyKnow is currently designed for public requests. Almost all
        responses that we receive are automatically published on the website for
        anyone to read.
      </p>
      <p>
        WhatDoTheyKnow<sup>Pro</sup> is a service for journalists and
        campaigners that includes the ability to delay publication of your
        requests and responses. If you are a journalist, campaigner, activist,
        or someone else with a need to make requests for information which are initially private 
        then <a href="<%= account_request_index_path %>"> find out more and get in touch</a>.
      </p>
    </dd>
    <dt id="eir">
      Why can I only request information about the environment from some
      authorities?
      <a href="#eir">#</a>
    </dt>
    <dd>
      <p>
        <a href="https://www.whatdotheyknow.com/body?tag=eir_only">Some public
        authorities</a>, such as <a href="http://www.whatdotheyknow.com/body/milford_haven_port_authority">
        Milford Haven Port Authority</a>, don&rsquo;t
        come under the Freedom of Information Act, but do come under another law
        called the Environmental Information Regulations (EIR).
      </p>
      <p>It&rsquo;s a very similar law, so you make a request
        to them using WhatDoTheyKnow in just the same way as an FOI request. The only
        difference is that on the page where your write your request, it reminds you
        that you can only request &ldquo;environmental information&rdquo; and tells you what that
        means. It is quite broad.
      </p>
      <p>
        You can ask for environmental information from other
        authorities. Just make a request as normal. The
        authority has a duty to work out what the right law is to reply under.
      </p>
    </dd>
    <dt id="multiple">
      Can I make the same request to lots of authorities, e.g. all councils?
      <a href="#multiple">#</a>
    </dt>
    <dd>
      <p>
        This is possible, under some circumstances. There is a daily cap on the 
        number of requests that can be using WhatDoTheyKnow. This is to help prevent 
        spam. We would recommend sending a test version of your request to a few authorities. 
        Their responses will help you improve the wording of your request.
      </p>
      <p>
        If you are a journalist, activist, campaigner or someone else who would
        find it useful to have a tool enabling you to make requests to multiple
        bodies at the same time, then you might be interested in our
        <%= link_to 'WhatDoTheyKnow Pro service', account_request_index_path %>.
      </p>
    </dd>
    <dt id="offsite">
      I made a request off the site, how do I upload it to the archive?
      <a href="#offsite">#</a>
    </dt>
    <dd>
      <p>
        WhatDoTheyKnow is an archive of requests made using our service. We don’t 
        allow users to upload requests that were made by other means. We have no 
        plans to add this feature in the future. This is because we can’t verify 
        that responses received from outside of our system actually came from the 
        authority. We want to make sure that all content on WhatDoTheyKnow is 100% verifiable.
      </p>
    </dd>
    <dt id="attachments">
      How can I attach a file to my request?
      <a href="#attachments">#</a>
    </dt>
    <dd>
      <p>
        It is not possible to add attachments to requests made using WhatDoTheyKnow. 
        You could upload the file to services such as flickr.com,
        Google Docs, or scribd.com and then provide a link in the body of your
        request. Where a location on map is required as part of a request, many
        online mapping services, such as Google Maps, allow you to share exact
        co-ordinates via a link.
      </p>
      <p>
        If an authority has asked you to confirm your ID for a Freedom of Information request, 
        it may not be good idea to share a link to a public file through WhatDoTheyKnow. If you do this,
        your ID will be available to anyone who views the site. We recommend contacting the authority 
        directly. Please <a href="<%= help_contact_path %>">contact us</a> if you need help to do this.
      </p>
    </dd>
    <dt id="whistleblowers">
      Do you have any advice for public sector whistleblowers?
      <a href="#whistleblowers">#</a>
    </dt>
    <dd>
      <p>
        If you work for a public body and you know of information that the
        public should have access to, making a Freedom of Information request
        via WhatDoTheyKnow can be a good way to get it released.
        We’re happy for people to use our service under a pseudonym (although
        you should first read <a
        href="<%= help_privacy_path(:anchor => 'real_name') %>">our advice
        on using pseudonyms</a>).
      </p>
      <p>
        Whistleblowers who want to keep their identity secret

 should take
        precautions such as not making their request from their workplace, and
        not using their work email address (it’s possible a court may order us
        to release user information we hold). Using a pre-paid mobile phone
        rather than an internet connection at home, or even drafting a request
        for someone else to send might be worth considering.
      </p>
      <p>
        You may wish to consider setting up a new account for your
        whistleblowing request, as previous requests may help people to identify you.
        The UK charity <a href="https://protect-advice.org.uk/">Protect</a> aims to make whistleblowing work for individuals, organisations and society and offers a free, confidential whistleblowing advice line.
        For EU citizens and residents <a
        href="https://hrdrelocation.eu/">the EU Human Rights Defenders Relocation
        Platform</a> may be able to offer assistance.
        See also: <a
        href="https://p10.secure.hostingprod.com/@spyblog.org.uk/ssl/ht4w/2011/06/table-of-contents.html">Hints and Tips for Whistleblowing from Spy Blog</a>
      </p>
    </dd>
    <dt id="moderation">
      How do you moderate request annotations?
      <a href="#moderation">#</a>
    </dt>
    <dd>
      <p>
        Annotations on WhatDoTheyKnow are for helping other people to get the
        information they want, or, giving advice about the next steps they might take. 
        We reserve the right to remove annotations that don’t fit into one of these categories.
      </p>
      <p>
        Political discussions and personal opinions are not allowed in
        annotations. If you feel strongly that you need to provide background
        context, you may post a link to a suitable forum, blog post or campaign
        site elsewhere. Please see our <a href="<%= help_house_rules_path %>">House Rules</a> for more information.
      </p>
      <p>
        With limited administrative resources, we prioritise substantive FOI requests
        and responses. We spend less time on the moderation of
        annotations than of FOI requests, and the threshold for removal of
        annotations is relatively low.
      </p>
    </dd>
  </dl>
  <p><strong>Next</strong>, read about <a href="<%= help_privacy_path %>">your privacy</a> --&gt;

  <%= render partial: 'history' %>

  <div id="hash_link_padding"></div>
</div>
```
