<% @title = 'Unhappy about a Freedom of Information request?' %>

<div class="unhappy-info">
  <% if @info_request %>
    <h1>
      Unhappy about the response you got to your request &mdash;
      <%= request_link(@info_request) %>?
    </h1>
  <% else %>
    <h1>Unhappy about the response you got?</h1>
  <% end %>

  <p>
    If you <strong>didn’t get a reply within 20 working days</strong> you can:
  </p>

  <ul>
    <li>
      Refer your request to the
      <a href="#refer-to-ico">Information Commissioner</a>.
    </li>
  </ul>

  <p>
    If you <strong>did not get all of the information</strong> that you
    requested, or your request was <strong>refused without a reason</strong>
    valid under the law you can:
  </p>

  <ul>
    <li>
      Ask for an <a href="#internal_review">internal review</a> at the public
      authority.
    </li>

    <li>
      If that doesn't help, you can refer the request to the
      <a href="#refer-to-ico">Information Commissioner</a>.
    </li>

    <li>
      <a href="<%= select_authority_path %>">Make a new request</a> asking for
      more specific information or to a more appropriate authority
    </li>

    <li>
      or, <a href="#other_means">use other means</a> of asking your question
    </li>
  </ul>

  <p class="wizard-teaser">
    If you’re <strong>not sure how to respond</strong>, use our
    <a href="#refusal-advice">refusal advice wizard</a> below. Answer the
    questions and we’ll try to provide helpful advice for your specific request.
  </p>
</div>

<h2 id="internal_review">1. Asking for an internal review <a class="hover_a" href="#internal_review">#</a></h2>

<details>
  <summary>
    <% if @info_request %>
      <% path = new_request_followup_url(request_id: @info_request.id) +
                "?internal_review=1#followup" %>

      Choose <%= link_to "request an internal review", path %> and then write a
      message asking the authority to review your request.
    <% else %>
      At the bottom of the relevant request page on WhatDoTheyKnow choose
      "request an internal review". Then write a message asking for an internal
      review of your request. You may want to include a link to the
      request page, to make it clear which request you are talking about.
    <% end %>
  </summary>

  <p>
    You don't need to ask for an internal review if the authority haven't
    responded to your request at all by the deadline. You can go straight to
    the Information Commissioner.
  </p>

  <p>
    There's a good chance an internal review will prompt a change in the public
    body's stance. <a href="https://research.mysociety.org/sites/foi/reviews/">
    For requests made to central government, 22% of internal reviews resulted in
    some change to the original decision and 9% were completely overturned</a>,
    and for <a href="https://research.mysociety.org/html/local-gov-foi/l/3.3333.8-wl5.tfyxv.xoob1.bz1hy">
    local government this figure is between 36-49%</a>.
  </p>

  <p>Internal reviews should be quick. If one takes longer than 20 working days
    then the authority should write and let you know, and it should never take
    longer than 40 working days (see this
    <a href="https://ico.org.uk/for-organisations/guide-to-freedom-of-information/refusing-a-request/#20">good practice guide</a>).
    You will then either get the information that
    you originally requested, or you will be told that the review upholds the
    original decision.
  </p>
</details>

<a name="complaining"></a>
<h2 id="refer-to-ico">2. Referring a request to the Information Commissioner <a class="hover_a" href="#refer-to-ico">#</a></h2>

<details>
  <summary>
    If you are still unhappy after the public authority has done their internal
    review, then you can refer your request to the Information Commissioner, who
    is empowered to uphold access to information laws.
  </summary>

  <p>
    To make a referral,
    start by reading <a href="https://ico.org.uk/make-a-complaint/official-information-concerns-report/">the
    Information Commissioner's advice for those with concerns about accessing
    information</a> which links to their form. If you requested information
    from a Scottish authority, then it is
    <a href="http://www.itspublicknowledge.info/YourRights/YourRights.asp">the
    Scottish Information Commissioner</a> who you will need to contact.
  </p>

  <p>
    While the Information Commissioner asks for their form to be completed and
    evidence supporting a referral to be attached in practice we are aware they
    routinely consider referrals made via a simple email setting out the
    issues, containing a link to the request on WhatDoTheyKnow.com to provide
    evidence of the full history of the correspondence related to the request.
    If you do wish to download copies of correspondence, and attachments, to
    send to the Information Commissioner the <code>.zip</code> download
    feature, accessed via "Actions" may assist.
  </p>

  <p>
    WhatDoTheyKnow does not currently have any special facilities for handling a
    referral to the Information Commissioner. We encourage users to leave
    annotations on requests keeping people informed of progress.
    <a href="https://icosearch.ico.org.uk/s/search.html?collection=ico-meta&profile=decisions&query">
    Decisions by the Information Commissioner are published online</a> and you
    can link to a decision via an annotation on the request.
  </p>

  <p>
    A warning. Although the Information Commissioner has worked hard to reduce
    their backlog of casework, it can still take several months to get
    resolution from them in many cases. One area where they have sped up things
    considerably is that they are able to prompt non-responsive authorities to
    reply within a few weeks of receiving a complaint.
  </p>

  <p>
    If you are unhappy with the response from the Information Commissioner's
    office you can ask them to reconsider it under their
    <a href="https://ico.org.uk/concerns/complaints-and-compliments-about-us/complain-about-us/">
    complaints process</a>.
  </p>

  <p>
    If you reach the point of referring a case to the Information Commissioner,
    you should accept that you won't get the information quickly by this means.
    Maybe you want to help the fight to improve our Freedom of Information
    regime, or maybe getting the information slowly is still worthwhile. You
    can also try and get the information by other means…
  </p>
</details>

<h2 id="other_means">3. Using other means to answer your question <a class="hover_a" href="#other_means">#</a></h2>

<details>
  <summary>
    You can try pursuing your problem or your research in other ways.
  </summary>

  <ul>
    <li>
      Make a <strong>new FOI request</strong> for summary information, or for
      documentation relating indirectly to matters in your refused request.
      <a href="<%= help_contact_path %>">Ask us for ideas</a> if you're stuck.
    </li>

    <li>
      If any <strong>other public authorities</strong> or publicly owned
      companies are involved, then make FOI requests to them.
    </li>

    <li>
      Write to <strong>your MP</strong> or other politician using <a
      href="http://www.writetothem.com">WriteToThem</a> and ask for their help
      finding the answer. MPs can write directly to ministers or departments,
      and can ask written questions in the House of Commons. Councillors in
      local authorities can talk directly to council officers.
    </li>

    <% if can_ask_the_eu?(@country_code) %>
      <li>
        Try <%= link_to 'asking for the information from the European Union',
        'http://www.asktheeu.org' %>.
        <%= link_to 'AskTheEU.org', 'http://www.asktheeu.org' %> is a version of
        this website for the European Union.
      </li>
    <% end %>

    <li>
      Ask <strong>other researchers</strong> who are interested in a similar
      issue to yours for ideas. You can sometimes find them by browsing this
      site; contact any registered user from their page. There may be an
      Internet forum or group that they hang out in.
    </li>

    <li>
      You could form a small local campaign group and arrange a meeting
      with staff from the authority.
    </li>
  </ul>
</details>

<h2 class="wizard-title">4. Get help on refusals <a class="hover_a" href="#refusal-advice">#</a></h2>
<%= render partial: 'help/refusal_advice' %>

<%= render partial: 'history' %>
