    <div class="act_link">
        <%= link_to image_tag('helpmeinvestigate.png', :alt => "", :class => "rss"), "http://helpmeinvestigate.com/"%>
        <%= link_to 'Get help investigating', "http://helpmeinvestigate.com/"%>
    </div>
    <div class="act_link">
        <%= link_to image_tag('writetothem.png', :alt => "", :class => "rss"), "http://www.writetothem.com"%>
        <%= link_to 'Write to your politician', "http://www.writetothem.com"%>
    </div>
    <div class="act_link">
        <%= link_to image_tag('pledgebank.png', :alt => "", :class => "rss"), "http://www.pledgebank.com"%>
        <%= link_to 'Pledge with others', "http://www.pledgebank.com"%>
    </div>
