<div>
  <p class="info"><%= _('Unsure who to ask, or what to ask for?') %></p>
  <p class="actions">
    <% get_help = link_to('Get help making a request', help_requesting_path) %>
    <% guide = link_to('see our beginner’s guide', help_beginners_path) %>

    <%= _('{{get_help_link}} or {{beginners_guide_link}}',
          get_help_link: get_help,
          beginners_guide_link: guide) %>
  </p>
</div>

<div>
  <p class="info"><%= _("Can't find the one you want?") %></p>
  <p class="actions">
    <%= raw _('<a href="{{browse_url}}">Browse all</a> or ' \
                 '<a href="{{add_url}}">ask us to add one</a>.',
              :browse_url => list_public_bodies_default_path.html_safe,
              :add_url => help_requesting_path(:anchor => 'missing_body')
             ).html_safe %>
  </p>
</div>

<div>
  <p class="info"><% _('Looking for an EU Authority?') %></p>
  <p class="actions">
    <% eu_link = link_to('AskTheEU.org', 'http://asktheeu.org/?utm_source=whatdotheyknow&utm_medium=banner&utm_content=select_authority&utm_campaign=alaveteli-experiments-54') %>

    <%= _('You can request documents directly from EU Institutions at our ' \
          'sister site {{ask_the_eu_link}}.',
          ask_the_eu_link: eu_link) %>
  </p>
</div>
